//
// SASS Mixins
//
// @package #{$package_name()}
// @path settings/_mixins.scss
// @author Tyll Weiß <t.weiss@exinit.de>
// @link http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#mixins
//


// =============================================================================
// Image-Dimensions
// =============================================================================
// Get the dimensions of an image inside the 'images_dir' as specified in the
// config.rb file
// =============================================================================
@mixin img-wh($img) {
  width: image-width($img);
  height: image-height($img);
}
@mixin hdpi-img($img) {
  background-size: image-width($img)/2 image-height($img)/2;
  background-image: image-url('#{$img}');
}


// =============================================================================
// Image-Replacement Helper
// =============================================================================
// A image-replacement mixin wich generates the image-dimensions as CSS rules and
// @extends the .ir rule inside the _helper.scss file.
// Default $display-mode is set to 'block'.
// e.g.:
// .site-logo {
//   @include image-replacement('logo.png');
// }
// =============================================================================
@mixin image-replacement($image, $display-mode: block) {
  @if $image { // Output the image dimensions if an image is passed as an argument
    display: $display-mode;
    @include img-wh('#{$image}');
    @extend .ir;
    background-image: image-url('#{$image}');
  }
}


// =============================================================================
// Grid init Mixin
// =============================================================================
// Generates gird classes, with a bunch of options like setting a prefix or the property
// e.g.:
// @include grid(1 2 3 4 5 6 8 10 12, $prefix: 'm--');
// =============================================================================
@mixin grid($stack: $gridStack, $prefix: '', $property: 'width') {
  // Starts the loop
  @each $i in $stack {
    // Set the class-prefix and convert the passed number to their word equivalents
    .#{$prefix}#{convert-number-to-word($i)} {
      // Sets the property and passes the calculation via the gridCalc function in _functions.scss
      #{$property}: percentage($i / $totalColumns);
    }
  }
}


// =============================================================================
// REM Unit Mixin
// =============================================================================
// Creates a property independent 'rem' calculation with a pixel fallback,
// default property is set to 'font-size'
// e.g.:
// .lead {
//   @include rem($property: font-size, $value: 18);
// }
// =============================================================================
@mixin rem($value, $property: font-size) {
  #{$property}: $value +px;
  #{$property}: ($value / 16)*1rem;
}


// =============================================================================
// Font-Size Mixin
// =============================================================================
// Create a fully formed type style (sizing and vertical rhythm) by passing in a
// single value
// Thanks to Harry Roberts (@csswizardry)
// =============================================================================
@mixin font-size($size, $append-vrythm: false) {
  @include rem($value: $size);
  @if $append-vrythm {
    line-height: ceil($size / $baseLineHeight) * ($baseLineHeight / $size);
  }
}


// =============================================================================
// CSS3 Triangle
// =============================================================================
// Create a css arrow as per http://cssarrowplease.com/
// e.g.:
// .foo {
//   @include css-triangle(5px, #fff, bottom);
// }
// =============================================================================
@mixin cssTriangle($triangleSize, $triangleColor, $triangleDirection) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid $triangleSize;
  @if ($triangleDirection == top)    { border-color: $triangleColor transparent transparent transparent; }
  @if ($triangleDirection == bottom) { border-color: transparent transparent $triangleColor transparent; }
  @if ($triangleDirection == left)   { border-color: transparent transparent transparent $triangleColor; }
  @if ($triangleDirection == right)  { border-color: transparent $triangleColor transparent transparent; }
}


// =============================================================================
// CSS Viewport rule Mixin
// =============================================================================
// Basicly the same as <meta name="viewport" content="width=device-width">
// but the future proof way.
// e.g.:
// @include viewport($width: device-width, $zoom: 1);
//
// @link http://dev.w3.org/csswg/css-device-adapt/
// =============================================================================
@mixin viewport($width: false, $height: false, $zoom: false, $orientation: false, $user-zoom: false) {
  @-webkit-viewport {
    @if $width       { width: $width; }
    @if $height      { height: $height; }
    @if $zoom        { zoom: $zoom; }
    @if $orientation { orientation: $orientation; }
    @if $user-zoom   { user-zoom: $user-zoom; }
  }
  @-moz-viewport {
    @if $width       { width: $width; }
    @if $height      { height: $height; }
    @if $zoom        { zoom: $zoom; }
    @if $orientation { orientation: $orientation; }
    @if $user-zoom   { user-zoom: $user-zoom; }
  }
  @-ms-viewport {
    @if $width       { width: $width; }
    @if $height      { height: $height; }
    @if $zoom        { zoom: $zoom; }
    @if $orientation { orientation: $orientation; }
    @if $user-zoom   { user-zoom: $user-zoom; }
  }
  @-o-viewport {
    @if $width       { width: $width; }
    @if $height      { height: $height; }
    @if $zoom        { zoom: $zoom; }
    @if $orientation { orientation: $orientation; }
    @if $user-zoom   { user-zoom: $user-zoom; }
  }
  @viewport {
    @if $width       { width: $width; }
    @if $height      { height: $height; }
    @if $zoom        { zoom: $zoom; }
    @if $orientation { orientation: $orientation; }
    @if $user-zoom   { user-zoom: $user-zoom; }
  }
}


// =============================================================================
// CSS Hyphens mixin
// =============================================================================
@mixin hyphens($arg) {
  -webkit-hyphens: $arg;
     -moz-hyphens: $arg;
      -ms-hyphens: $arg;
       -o-hyphens: $arg;
          hyphens: $arg;
}


// =============================================================================
// Input placeholder Mixin
// =============================================================================
@mixin placeholder($color) {
  &::-webkit-input-placeholder { color: $color; }
  &:-moz-placeholder { color: $color; }
  &:-ms-input-placeholder { color: $color; }
}