//
// Variables, variables, variables!
//
// @package #{$package_name()}
// @path settings/_variables.sass
// @author Tyll Weiß <t.weiss@exinit.de>
// @link http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_
//


// =============================================================================
// Project Settings
//
// Support-table for $oldIE: false;
// Google Chrome
// Mozilla Firefox 4+
// Apple Safari 5+
// Opera 12+
// Internet Explorer 8+
// =============================================================================
$templatePath:          "typo3conf/ext/#{$package_name}/"; // Relative to the html doc - Used for oldIE's boxsizing.htc behavior file
// $responsive:            false;  // If set to 'true' CSS-Viewport-Rules are added
$oldIE:                 true;   // If set to 'false' IE6 & IE7 Hacks will be ignored while compiling
$direction:             ltr;    // set "dir" attribute in HTML to "ltr" (default) or "rtl"
$debug-mode:            false;  // If set to 'true' a basic markup check via CSS will be injected


// =============================================================================
// Layout
// =============================================================================
// ================================ Widths ================================
$layoutWidth:           960px;  // Used for calculating the grid
$query-tablet:          800px;  // Tablets
$query-smartphoneLarge: 480px;  // Phone - Landscape
$query-smartphoneSmall: 320px;  // Phone - Portrait

// ============================== Grid System =============================
$totalColumns:          12;     // Number of columns
$columnGutter:          20;     // Inner spacing
$gridStack:             1 2 3 4 5 6 7 8 9 10 11 12; // Grid Width classes
$includeOffsetClasses:  false;  // If set to 'true' .columns.offset-by-# classes are added

// ============================== Backgrounds =============================
$bodyBackground:        #fff;   // Will be set on <body>
$contentBackground:     #fff;   // Used for generating some colors


// =============================================================================
// Typography
// =============================================================================
// ============================== Font familys ============================
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

// ============================== Font weights ============================
// NOTE:
// Font-weights below are used to handle webfonts - if this layout doesnt
// use a webfont, dont change them
$bold:                  700;
$regular:               400;
$light:                 300;

// ========================== Base font settings ==========================
$baseFontSize:          16; // Set in px
$baseLineHeight:        24; // Set in px
$baseFontFamily:        $sansFontFamily;
$baseFontWeight:        $regular;
$baseTextColor:         #3C474B;

// =============================== Headings ===============================
$headingsFontFamily:    inherit; // empty to use $baseFontFamily
$headingsFontWeight:    $bold;
$headingsColor:         #000;

// =============================== Spacings ===============================
$basicSpacing:          $baseLineHeight / $baseFontSize;
$halfSpacing:           $basicSpacing / 2;


// =============================================================================
// Corporate Design
// =============================================================================
// ======================== Coporate Design colors ========================
$cd-primary:            #0097d7;
$cd-primaryLight:       lighten($cd-primary, 20%);
$cd-primaryDark:        darken($cd-primary, 30%);

$cd-secondary:          #38464b;
$cd-secondaryLight:     lighten($cd-secondary, 20%);
$cd-secondaryDark:      darken($cd-secondary, 30%);

// ============================= Other stuff ==============================
$cd-borderRadius:       1px;


// =============================================================================
// Colors
// =============================================================================
// ================================= Links ================================
$linkColor:             lighten($cd-primary, 10%);
$linkColorHover:        $cd-primary;

// ================================ Borders ===============================
$basicBorderColor:      color-adjust($contentBackground, 20%);
$basicBorderStyle:      solid;