//
// Variables, variables, variables!
//
// @package #{$package_name()}
// @path settings/_variables.sass
// @author Tyll Weiß <t.weiss@exinit.de>
// @link http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_
//


// =============================================================================
// Project Settings
//
// Support-table for $oldIE: false;
// Google Chrome
// Mozilla Firefox 4+
// Apple Safari 5+
// Opera 12+
// Internet Explorer 8+
// =============================================================================
$templatePath:          "typo3conf/ext/#{$package_name}/" !default; // Relative to the html doc - Used for oldIE's boxsizing.htc behavior file
// $responsive:            false !default;  // If set to 'true' CSS-Viewport-Rules are added
$oldIE:                 false !default;   // If set to 'false' IE6 & IE7 Hacks will be ignored while compiling
$direction:             ltr !default;    // set "dir" attribute in HTML to "ltr" (default) or "rtl"
$debug-mode:            false !default;  // If set to 'true' a basic markup check via CSS will be injected


// =============================================================================
// Layout
// =============================================================================
// ================================ Widths ================================
$layoutWidth:           960px !default;  // Used for calculating the grid
$query-tablet:          800px !default;  // Tablets
$query-smartphoneLarge: 480px !default;  // Phone - Landscape
$query-smartphoneSmall: 320px !default;  // Phone - Portrait

// ============================== Grid System =============================
$totalColumns:          12 !default;     // Number of columns
$columnGutter:          20 !default;     // Inner spacing
$gridStack:             1 2 3 4 5 6 7 8 9 10 11 12 !default; // Grid Width classes
$includeOffsetClasses:  false !default;  // If set to 'true' .columns.offset-by-# classes are added

// ============================== Backgrounds =============================
$bodyBackground:        #fff !default;   // Will be set on <body>
$contentBackground:     #fff !default;   // Used for generating some colors


// =============================================================================
// Typography
// =============================================================================
// ============================== Font familys ============================
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace !default;

// ============================== Font weights ============================
// NOTE:
// Font-weights below are used to handle webfonts - if this layout doesnt
// use a webfont, dont change them
$bold:                  700 !default;
$regular:               400 !default;
$light:                 300 !default;

// ========================== Base font settings ==========================
$baseFontSize:          16 !default; // Set in px
$baseLineHeight:        24 !default; // Set in px
$baseFontFamily:        $sansFontFamily !default;
$baseFontWeight:        $regular !default;
$baseTextColor:         #3C474B !default;

// =============================== Headings ===============================
$headingsFontFamily:    inherit !default; // empty to use $baseFontFamily
$headingsFontWeight:    $bold !default;
$headingsColor:         #000 !default;

// =============================== Spacings ===============================
$basicSpacing:          $baseLineHeight / $baseFontSize !default;
$halfSpacing:           $basicSpacing / 2 !default;


// =============================================================================
// Corporate Design
// =============================================================================
// ======================== Coporate Design colors ========================
$cd-primary:            #0097d7 !default;
$cd-primaryLight:       lighten($cd-primary, 20%) !default;
$cd-primaryDark:        darken($cd-primary, 30%) !default;

$cd-secondary:          #38464b !default;
$cd-secondaryLight:     lighten($cd-secondary, 20%) !default;
$cd-secondaryDark:      darken($cd-secondary, 30%) !default;

// ============================= Other stuff ==============================
$cd-borderRadius:       1px !default;


// =============================================================================
// Colors
// =============================================================================
// ================================= Links ================================
$linkColor:             lighten($cd-primary, 10%) !default;
$linkColorHover:        $cd-primary !default;

// ================================ Borders ===============================
$basicBorderColor:      color-adjust($contentBackground, 20%) !default;
$basicBorderStyle:      solid !default;