/* ==========================================================
 * forms.scss
 *
 * Basic styling for forms and inputs
 * DOCS: 
 * ========================================================== */


/* =============================================================================
$ General styling of Input Fields
================================================================================ */
textarea,
input[type="date"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="number"],
input[type="search"] {
	color: lighten( $baseColor, 5% );
	border: 1px solid $basicBorderColor;
	font-size: $baseFontSize - 2;
	@include transition(border-color .2s ease);
	&:hover { border-color: darken($basicBorderColor, 20%); }
	&:focus { outline: 0; border-color: $cd-main; }
}
textarea {
	min-height: 70px;
}

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $cd-main;
	padding: 3px 6px;
	color: #FFF;
	border: 1px solid $cd-main;
}


/* =============================================================================
$ General styling of Form Fields
================================================================================ */
form {
	ol { list-style: none; }
	legend { display: none; }
}
label {
	@extend %inline-block;
	font-size: $baseFontSize - 2;
	strong {

	}
	em {

	}
}
