/* ==========================================================
 * forms.scss
 *
 * Basic styling for forms and inputs
 * DOCS: 
 * ========================================================== */


/* =============================================================================
$ General styling of Input Fields
================================================================================ */
textarea,
input[type="date"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="number"],
input[type="search"] {	
	border: 1px solid $basicBorderColor;
	font-size: rs(14);
	color: lighten( $baseColor, 5% );

	&:hover { border-color: darken($basicBorderColor, 20%); }
	&:focus { outline: 0; border-color: $cd-primary; }
}
textarea {
	min-height: 70px;
}

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 3px 6px;
	border: 1px solid $cd-primary;
	background: $cd-primary;	
	color: #FFF;	
}


/* =============================================================================
$ General styling of Form Fields
================================================================================ */
label {
	@extend %inline-block;
	font-size: rs(14);
}
