/* ==========================================================
 * navigations.scss
 *
 * Basic styling for all site-navigation elements
 * DOCS:
 * ========================================================== */


/* =============================================================================
$ Navigations
================================================================================ */
.nav {
	ul { @extend %reset-list;	}
	li { @extend %inline-block; }
	a {
		display: block;
		&:hover { }
	}
	li.active a { }
}

/* ======================== Main Navigation ======================== */
/*.nav*/.site-nav {
	// Main Navigation
	.site-header & { // positioning on site-header
		position: absolute;
		right: 250px;
		top: 30px;
	}
	ul { }
	li { }
	a {	}
}

/* ======================== Footer Navigation ======================== */
/*.nav*/.footer-nav {
	// Footer Navigation
	ul { }
	li { }
	a {	}
}

/* ======================== Breadcrumb Navigation ======================== */
/*.nav*/.breadcrumb {
	// Breadcrumb Navigation
	ul { }
	li { }
	a {	}
}
