/* ==========================================================
 * navigations.scss
 *
 * Basic styling for all site-navigation elements
 * DOCS: 
 * ========================================================== */


/* =============================================================================
$ Navigations
================================================================================ */
.nav {
	ul { @extend %reset-list; }
	li {
		float: left;
		&:hover a {}
		&.active a {}
	}
	a {
		display: block;
	}
}

/* ======================== Main Navigation ======================== */
/*.nav*/.site-nav {
	// Main Navigation
	#header & { // positioning on site-header
		position: absolute;
		right: 250px;
		top: 30px;
	}
}

/* ======================== Footer Navigation ======================== */
/*.nav*/.footer-nav {
	// Footer Navigation
}

/* ======================== Breadcrumb Navigation ======================== */
/*.nav*/.breadcrumb {
	// Breadcrumb Navigation
}