/* ==========================================================
 * typography.scss
 *
 * Basic styling for typography elements
 * DOCS: 
 * ========================================================== */


/* =============================================================================
$ Links and other stuff
================================================================================ */
a,
a:visited { color: $linkColor; text-decoration: none; }
a {
	&:hover,
	&:active { color: $linkColorHover; }
}

::-moz-selection,
::selection {
	background: $cd-main;
	color: #fff;
	text-shadow: none;
}


/* =============================================================================
$ Headings
================================================================================ */
#{headings(all)},
.h1, .h2, .h3,
.h4, .h5, .h6 {
	font-family: $headingsFontFamily;
	font-weight: $headingsFontWeight;
	color: $headingsColor;
	line-height: $headingsLineHeight;
	text-rendering: optimizeLegibility; // Optimized kerning for large font sizes
	@include hyphens;
	small {
		font-size: 60%;
		color: lighten($headingsColor, 20%);
		line-height: 0;
	}
}
h1, .h1 {
	font-size: rs(34);
	margin: 0 0 rs(21, 34);
}
h2, .h2 {
	font-size: rs(28);
	margin: 0 0 rs(18, 28);
}
h3, .h3 {
	font-size: rs(24);
	margin: 0 0 rs(16, 24);
}
h4, .h4 {
	font-size: rs(22);
	margin: 0 0 rs(16, 22);
}
h5, .h5 {
	font-size: rs(18);
	margin: 0;
}
h6, .h6 {
	font-size: rs(16);
	margin: 0;
}


/* =============================================================================
$ Margins
================================================================================ */
p,
ul,
ol,
dl { margin: 0 0 rs($baseLineHeight); }


/* =============================================================================
$ Attachements & Images
================================================================================ */
embed, iframe, object, img { max-width: 100%; height: auto; }


/* =============================================================================
$ Lists
================================================================================ */
ol { list-style-type: decimal; }
ol ol { list-style: upper-alpha; }
ol ol ol { list-style: lower-roman; }
ol ol ol ol { list-style: lower-alpha; }


/* =============================================================================
$ HTML-Elements
================================================================================ */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px $basicBorderStyle $basicBorderColor;
	margin: 1em 0;
	padding: 0;
}
