/* ==========================================================
 * typography.scss
 *
 * Basic styling for typography elements
 * DOCS: 
 * ========================================================== */


/* =============================================================================
$ Links and other stuff
================================================================================ */
a,
a:visited {
	color: $linkColor;
	text-decoration: none;
}
a {
	&:hover,
	&:active { color: $linkColorHover; }
}

::-moz-selection,
::selection {
	background: $cd-primary;
	color: #fff;
	text-shadow: none;
}


/* =============================================================================
$ Headings
================================================================================ */
#{headings(all)},
.h1, .h2, .h3,
.h4, .h5, .h6 {
	font-family: $headingsFontFamily;
	font-weight: $headingsFontWeight;
	color: $headingsColor;
	text-rendering: optimizeLegibility; // Optimized kerning for large font sizes
	small {
		font-size: 60%;
		color: lighten($headingsColor, 20%);
		line-height: 0;
	}
}
h1, .h1 {
	@include font-size(36);
	margin: 0 0 rs(21, 36);
}
h2, .h2 {
	@include font-size(30);
	margin: 0 0 rs(18, 30);
}
h3, .h3 {
	@include font-size(24);
	margin: 0 0 rs(16, 24);
}
h4, .h4 {
	@include font-size(20);
	margin: 0 0 rs(16, 20);
}
h5, .h5 {
	@include font-size(16);
	margin: 0;
}
h6, .h6 {
	@include font-size(14);
	margin: 0;
}


/* =============================================================================
$ Margins
================================================================================ */
p,
ol,
ul,
dl,
menu { margin: 0 0 ($baseLineHeight/$baseFontSize) + em; }


/* =============================================================================
$ Attachements & Images
================================================================================ */
embed, iframe, object, img {
	max-width: 100%; /* Make images responsive */
	height: auto; /* Ignore height attributes */
}
figure > img{
    display:block;
}


/* =============================================================================
$ Lists
================================================================================ */
ol { list-style-type: decimal; }
ol ol { list-style: upper-alpha; }
ol ol ol { list-style: lower-roman; }
ol ol ol ol { list-style: lower-alpha; }


/* =============================================================================
$ HTML-Elements
================================================================================ */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px $basicBorderStyle $basicBorderColor;
	margin: ($baseLineHeight/$baseFontSize) + em 0 ($baseLineHeight/$baseFontSize) + em;
	padding: 0;
}
