/*!
 * Gernerated classes for brand related styling
 *
 * @package #{ext_directory()}
 * @path Generic/_Brand.scss
 */



/* =============================================================================
$ Brand styles
================================================================================ */
.brand {
  font-family: $brand-font-family;
  color: $brand-color;
}
.brand-color { color: $brand-color; }
.brand-face { font-family: $brand-font-family; }
.brand-logo {
  @include image-replacement($file-name: $brand-logo_image, $display-mode: inline-block);
}