/*
 * Gernerated classes for brand related styling
 *
 * @package #{ext_directory()}
 * @path Generic/_Brand.scss
 */



/* =============================================================================
$ Brand styles
================================================================================ */
.brand {
	font-family: $brand-font-family;
	color: $brand-color;
}
.brandColor { color: $brand-color; }
.brandFace { font-family: $brand-font-family; }
.brandLogo {
	@include image-replacement($file-name: $brand-logo_image, $display-mode: inline-block, $width: $brand-logo_image-width, $height: $brand-logo_image-height);
}
