/*
[Generic] Helpers

Several helper classes which can be used independently from each other to create the desired stylings.

Styleguide 10
*/


/*
Quick floats

.fl-r - Floats the element to the right boundary.
.fl-l - Floats the element to the left boundary.

Markup:
<span class="{$modifiers}">I am an paragraph.</span>

Styleguide 10.0.1
*/
.fl-r { float: right; }
.fl-l { float: left; }


/*
Image replacement

Hides the text of a container and displays a image instead, you will need to set dimensions, as well as an background-image to see this helper class in action.

Markup:
<span class="ir">This text won't be visible for a user, but can be accessed by robots & assistive devices.</span>

Styleguide 10.0.2
*/
.ir,
.imageReplacement {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	font: 0/0 a;
}


/*
Hidden helpers

.hidden - Hide from both screenreaders and browsers: h5bp.com/u
.visuallyhidden - Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden.focusable - Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
.invisible - Hide visually and from screenreaders, but maintain layout

Markup:
<div class="{$modifiers}">This element won't be visible.</div>

Styleguide 10.0.3
*/
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible { visibility: hidden; }


/*
Clearfix

Contain floats: h5bp.com/q

Markup:
<div class="cf">This element will clear any floats inside of it.</div>

Styleguide 10.0.4
*/
.cf,
.clearfix {
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}
