/*
 * Styling for typo3 related classes
 *
 * @package #{ext_directory()}
 * @path Generic/_T3General.scss
 */


/* =============================================================================
$ CSC-Frames
================================================================================ */
.csc-frame-rulerBefore:before {
	content: '';
	@extend %horizontal-ruler;
}
.csc-frame-rulerAfter:after {
	content: '';
	@extend %horizontal-ruler;
}

.csc-frame-indent { padding: 0 10%; }
.csc-frame-indent3366 { padding-left: 33.333%; }
.csc-frame-indent6633 { padding-right: 33.333%; }