/*
[Generic] Widths

Sizes which are used in conjunction with other objects and abstractions like the grid system.

Styleguide 11
*/


// Grid mixin
@mixin grid-setup($namespace:  "") {
	/**
	* Whole
	*/
	.#{$namespace}one-whole         { width: 100%; }

	/**
	* Halves
	*/
	.#{$namespace}one-half          { width: 50%; }

	/**
	* Thirds
	*/
	.#{$namespace}one-third         { width: 33.333%; }
	.#{$namespace}two-thirds        { width: 66.666%; }

	/**
	* Quarters
	*/
	.#{$namespace}one-quarter       { width: 25%; }
	.#{$namespace}two-quarters      { @extend .#{$namespace}one-half; }
	.#{$namespace}three-quarters    { width: 75%; }

	/**
	* Fifths
	*/
	.#{$namespace}one-fifth         { width: 20%; }
	.#{$namespace}two-fifths        { width: 40%; }
	.#{$namespace}three-fifths      { width: 60%; }
	.#{$namespace}four-fifths       { width: 80%; }

	/**
	* Sixths
	*/
	.#{$namespace}one-sixth         { width: 16.666%; }
	.#{$namespace}two-sixths        { @extend .#{$namespace}one-third; }
	.#{$namespace}three-sixths      { @extend .#{$namespace}one-half; }
	.#{$namespace}four-sixths       { @extend .#{$namespace}two-thirds; }
	.#{$namespace}five-sixths       { width: 83.333%; }

	/**
	* Eighths
	*/
	.#{$namespace}one-eighth        { width: 12.5%; }
	.#{$namespace}two-eighths       { @extend .#{$namespace}one-quarter; }
	.#{$namespace}three-eighths     { width: 37.5%; }
	.#{$namespace}four-eighths      { @extend .#{$namespace}one-half; }
	.#{$namespace}five-eighths      { width: 62.5%; }
	.#{$namespace}six-eighths       { @extend .#{$namespace}three-quarters; }
	.#{$namespace}seven-eighths     { width: 87.5%; }

	/**
	* Tenths
	*/
	.#{$namespace}one-tenth         { width: 10%; }
	.#{$namespace}two-tenths        { @extend .#{$namespace}one-fifth; }
	.#{$namespace}three-tenths      { width: 30%; }
	.#{$namespace}four-tenths       { @extend .#{$namespace}two-fifths; }
	.#{$namespace}five-tenths       { @extend .#{$namespace}one-half; }
	.#{$namespace}six-tenths        { @extend .#{$namespace}three-fifths; }
	.#{$namespace}seven-tenths      { width: 70%; }
	.#{$namespace}eight-tenths      { @extend .#{$namespace}four-fifths; }
	.#{$namespace}nine-tenths       { width: 90%; }

	/**
	* Twelfths
	*/
	.#{$namespace}one-twelfth       { width: 8.333%; }
	.#{$namespace}two-twelfths      { @extend .#{$namespace}one-sixth; }
	.#{$namespace}three-twelfths    { @extend .#{$namespace}one-quarter; }
	.#{$namespace}four-twelfths     { @extend .#{$namespace}one-third; }
	.#{$namespace}five-twelfths     { width: 41.666% }
	.#{$namespace}six-twelfths      { @extend .#{$namespace}one-half; }
	.#{$namespace}seven-twelfths    { width: 58.333%; }
	.#{$namespace}eight-twelfths    { @extend .#{$namespace}two-thirds; }
	.#{$namespace}nine-twelfths     { @extend .#{$namespace}three-quarters; }
	.#{$namespace}ten-twelfths      { @extend .#{$namespace}five-sixths; }
	.#{$namespace}eleven-twelfths   { width: 91.666%; }
}


/*
Widths

.one-twelfth - One twelfth
.one-tenth - One tenth
.one-eighth - One eighth
.one-sixth - One sixth
.two-twelfths - Two twelfths
.one-fifth - One fifth
.two-tenths - Two tenths
.one-quarter - One quarter
.two-eighths - Two eighths
.three-twelfths - Three twelfths
.three-tenths - Three tenths
.one-third - One third
.two-sixths - Two sixths
.four-twelfths - Four twelfths
.three-eighths - Three eighths
.two-fifths - Two fifths
.four-tenths - Four tenths
.five-twelfths - Five twelfths
.one-half - One half
.two-quarters - Two quarters
.three-sixths - Three sixths
.four-eighths - Four eighths
.five-tenths - Five tenths
.six-twelfths - Six twelfths
.seven-twelfths - Seven twelfths
.three-fifths - Three fifths
.six-tenths - Six tenths
.five-eighths - Five eighths
.two-thirds - Two thirds
.four-sixths - Four sixths
.eight-twelfths - Eight twelfths
.seven-tenths - Seven tenths
.three-quarters - Three quarters
.six-eighths - Six eighths
.nine-twelfths - Nine twelfths
.four-fifths - Four fifths
.eight-tenths - Eight tenths
.five-sixths - Five sixths
.ten-twelfths - Ten twelfths
.seven-eighths - Seven eighths
.nine-tenths - Nine tenths
.eleven-twelfths - Eleven twelfths
.one-whole - One whole

Markup:
<div class="{$modifiers} kss___exampleWidth">.{$modifiers}</div>

Styleguide 11.0.1
*/
@include grid-setup();
