// ==========================================================
// merged.scss
// Base Version 1.0.9
//
// Merges all listed stylesheets and does the SASS & Compass magic
// DOCS: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#import
// ==========================================================
@charset "UTF-8";


// =============================================================================
// SASS Setup
// =============================================================================
@import "compass/css3";               // Compass setup
@import "_settings/_all";             // SASS Settings


// =============================================================================
// Layout
// =============================================================================
@import "base/_normalize";            // Normalize elements accross all browsers
@import "base/_base";                 // Header, Footer, Logos and Chromeframe
@import "base/_grid";                 // Grid
@import "base/_t3-general";           // TYPO3 element styling


// =============================================================================
// Components
// =============================================================================
@import "components/_typography";     // Basic typography
@import "components/_media";          // Media elements like images, audio and video
@import "components/_tables";         // Tables
@import "components/_forms";          // Forms, input's and other form fields
@import "components/_navigations";    // Navigations


// =============================================================================
// Helpers, placeholders and print styles
// =============================================================================
@import "_settings/_shared";          // SASS Placeholders
@import "base/_helper";               // Helper classes for developement
@import "base/_print";                // Print styles
