// ==========================================================
// merged.scss
// Base Version 1.5.2
// 
// Merges all listed stylesheets and does the SASS & Compass magic
// DOCS: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
// ==========================================================


// =============================================================================
// SASS Setup
// =============================================================================
@import "compass/css3";						// Compass setup
@import "_settings/_all";					// SASS Settings


// =============================================================================
// Normalize, helpers and placeholders
// =============================================================================
@import "globals/_normalize";			// Normalize elements accross all browsers
@import "globals/_helper";				// Helper classes for developement
@import "_settings/_placeholders";// SASS Placeholders


// =============================================================================
// Typography and Layout
// =============================================================================
@import "globals/_base";					// Base Layout
@import "globals/_grid";					// Grid setup
@import "globals/_t3-general";		// TYPO3 element styling
@import "globals/_print";					// Print styles


// =============================================================================
// Modules
// =============================================================================
@import "modules/_typography";		// Basic typography
@import "modules/_tables"; 				// Basic styling of tables
@import "modules/_forms";					// Basic styling of forms
@import "modules/_navigations"; 	// Site navigation


// =============================================================================
// Extensions
// =============================================================================
