/*! ==========================================================
 * FrontEnd Base Version 1.1.3
 * Compiled on: #{timestamp()}
 * ========================================================== */
// main.scss
//
// Merges all listed stylesheets and does the SASS & Compass magic
// DOCS: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#import
// ==========================================================
@charset "UTF-8";


// =============================================================================
// SASS Setup
// =============================================================================
@import "compass/css3";               // Compass
@import "_settings/_all";             // SASS Functions, Mixins and Variables


// =============================================================================
// Generic
// =============================================================================
@import "generic/_normalize";         // Normalize elements accross all browsers
@import "generic/_grid";              // Grid


// =============================================================================
// Layout
// =============================================================================
@import "base/_base";                 // High-level elements like `html`, `body`, etc.
@import "base/_headings";             // Double-stranded heading hierarchy
@import "base/_typography";           // Basic typography
@import "base/_links";                // High-level link styling
@import "base/_lists";                // Styling for lists
@import "base/_media";                // Media elements like images, audio and video
@import "base/_tables";               // Tables
@import "base/_forms";                // Forms, input's and other form fields


// =============================================================================
// Components
// =============================================================================
@import "objects/_navigations";       // Navigations
@import "objects/_t3-general";        // TYPO3 element styling


// =============================================================================
// Helpers, placeholders and print styles
// =============================================================================
@import "_settings/_shared";          // SASS Placeholders
@import "generic/_helper";            // Helper classes for developement
@import "generic/_print";             // Print styles
