// ==========================================================
// merged.scss
// Base Version 1.0.4
// 
// Merges all listed stylesheets and does the SASS & Compass magic
// DOCS: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
// ==========================================================


// =============================================================================
// SASS Setup
// =============================================================================
@import "compass/css3";							// Compass setup
@import "_settings/_all";						// SASS Settings


// =============================================================================
// Typography and Layout
// =============================================================================
@import "common/_normalize";				// Normalize elements accross all browsers
@import "common/_base";							// Base Layout
@import "common/_grid";							// Grid setup
@import "common/_t3-general";				// TYPO3 element styling


// =============================================================================
// Modules
// =============================================================================
@import "modules/_typography";			// Basic typography
@import "modules/_tables"; 					// Basic styling of tables
@import "modules/_forms";						// Basic styling of forms
@import "modules/_navigations"; 		// Site navigation


// =============================================================================
// Helpers, placeholders and print styles
// =============================================================================
@import "_settings/_placeholders";	// SASS Placeholders
@import "common/_helper";						// Helper classes for developement
@import "common/_print";						// Print styles
