# Unfinished extension documentation
Docs/*

# Node.js modules
node_modules/*

# Composer dependency lock file
composer.lock

# Source-/Generated-files which shouldn't pollute the source repository
Resources/Public/Javascripts/Build/**/*
Resources/Public/Javascripts/Tests/Coverage
Resources/Public/Javascripts/Sources/Vendor/*
Resources/Public/Stylesheets/*.css
Resources/Public/Stylesheets/*.map
Documentation/*.html
Documentation/public
