# User generated CSS files
Resources/Public/Stylesheets/*.css

# Custom generated Modernizr file
Resources/Public/Javascripts/Libaries/Modernizr-custom.js

# Unfinished extension documentation
Docs/*

# Node.js modules
node_modules/*