{namespace flux=Tx_Flux_ViewHelpers}
{namespace vhs=Tx_Vhs_ViewHelpers}

<f:layout name="Page" />

<div xmlns="http://www.w3.org/1999/xhtml" xmlns:flux="http://fedext.net/ns/flux/ViewHelpers" xmlns:vhs="http://fedext.net/ns/vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Configuration">
		<flux:flexform id="standard-page" label="Standard page">
			<flux:flexform.grid>
				<flux:flexform.grid.row>
					<flux:flexform.grid.column colPos="0" name="PageContent" />
				</flux:flexform.grid.row>
			</flux:flexform.grid>
		</flux:flexform>
	</f:section>

	<f:section name="Main">
		<vhs:page.content.render column="0" />
	</f:section>
</div>