{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Page" />

<div xmlns="http://www.w3.org/1999/xhtml" xmlns:flux="http://fedext.net/ns/flux/ViewHelpers" xmlns:v="http://fedext.net/ns/vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Configuration">
		<flux:flexform id="standard-page" label="Standard page">
			<flux:flexform.grid>
				<flux:flexform.grid.row>
					<flux:flexform.grid.column colPos="0" name="Content" />
				</flux:flexform.grid.row>
			</flux:flexform.grid>
		</flux:flexform>
	</f:section>

	<f:section name="Main">
		<main class="siteContent" role="main">
			<div class="siteWrapper">
				<!-- TYPO3SEARCH_begin -->
				<v:page.content.render column="0" />
				<!-- TYPO3SEARCH_end -->
			</div>
		</main>
	</f:section>
</div>
