/*
Form elements

Basic styling for forms and inputs

Styleguide 4.6
*/


/*
Labels

Markup:
<label>I am an label</label>

Styleguide 4.6.1
*/
label {
	display: block;
	font-weight: $bold;
	@include font-size(14, $appendVrythm: true);
	&[for] {
		cursor: pointer;
	}
}

/*
Legends

Markup:
<fieldset>
	<legend>I am an fieldset legend.</legend>
</fieldset>

Styleguide 4.6.2
*/
legend {
	display: block;
	width: 100%;
	@extend %margin-bottom;

	@include font-size($base-font-size + 4);
	color: map-get($headings, color);
	border-bottom: 1px $basic-border-style $basic-border-color;

	padding: 0;
	@if $legacy-normalizecss {
		/**
		 * Corrects text not wrapping in FF3.
		 */
		white-space: normal;
		/**
		 * Corrects alignment displayed oddly in IE6/7.
		 */
		*margin-left: -7px;
	}
}
