h2 Grid
div(class="row clearfix demogrid")
	div(class="first one columns", style="background: red")
		.one
	div(class="one columns")
		.one
	div(class="one columns")
		.one
	div(class="one columns")
		.one
	div(class="one columns")
		.one
	div(class="one columns")
		.one
	div(class="one columns")
		.one
	div(class="one columns")
		.one
	div(class="one columns")
		.one
	div(class="one columns")
		.one
	div(class="one columns")
		.one
	div(class="last one columns")
		.one

div(class="row clearfix demogrid")
	div(class="first two columns")
		.two
	div(class="two columns")
		.two
	div(class="two columns")
		.two
	div(class="two columns")
		.two
	div(class="two columns")
		.two
	div(class="last two columns")
		.two

div(class="row clearfix demogrid")
	div(class="first three columns")
		.three
	div(class="three columns")
		.three
	div(class="three columns")
		.three
	div(class="last three columns")
		.three

div(class="row clearfix demogrid")
	div(class="first four columns")
		.four
	div(class="four columns")
		.four
	div(class="last four columns")
		.four

div(class="row clearfix demogrid")
	div(class="first five columns")
		.five
	div(class="two columns")
		.two
	div(class="last five columns")
		.five

div(class="row clearfix demogrid")
	div(class="first six columns")
		.six
	div(class="last six columns")
		.six

div(class="row clearfix demogrid")
	div(class="first eight columns")
		.eight
	div(class="last four columns")
		.four

div(class="row clearfix demogrid")
	div(class="first one columns")
		.one
	div(class="ten columns")
		.ten
	div(class="last one columns")
		.one

div(class="row clearfix demogrid")
	div(class="first last twelve columns")
		.twelve



h4 Offset by-Grid
div(class="row clearfix demogrid")
	div(class="eight columns offset-by-four")
		.eight.offset-by-four

div(class="row clearfix demogrid")
	div(class="six columns offset-by-four")
		.six.offset-by-four

div(class="row clearfix demogrid")
	div(class="four columns offset-by-four")
		.four.offset-by-four

div(class="row clearfix demogrid")
	div(class="two columns offset-by-four")
		.two.offset-by-four


h4 Centered Grid
div(class="row clearfix demogrid")
	div(class="eight columns centered")
		.eight.centered

div(class="row clearfix demogrid")
	div(class="six columns centered")
		.six.centered

div(class="row clearfix demogrid")
	div(class="four columns centered")
		.four.centered

div(class="row clearfix demogrid")
	div(class="two columns centered")
		.two.centered


