h2 Media
h3 Audio
audio(controls, preload="auto", autobuffer)
	source(src="Testsuite/assets/audio.mp3")
	source(src="Testsuite/assets/elvis.ogg")

h3 Video
video(width="640", height="360", src="Testsuite/assets/video.mp4", controls, autobuffer)
	p Try this page in Safari 4! Or you can <a  href="http://www.youtube.com/demo/google_main.mp4">download the video</a> instead.


h3 Figure
figure
	img(src="Testsuite/assets/image1.jpg", alt="", width="640", height="480")
	figcaption Figcaption here…

br
br

h3 iFrames
iframe(width="560", height="315", src="http://www.youtube.com/embed/tKe25THBoF4", frameborder="0", allowfullscreen)
br
br