
h1 Heading 1
p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut <a href="">aliquip ex ea commodo</a> consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
h2 Heading 2
p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
h3 Heading 3
p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
h4 Heading 4
p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
h5 Heading 5
p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
h6 Heading 6
p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
br
br


hgroup
	h3(class="csc-firstHeader") Subheader
	h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit

h4
p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
br
br


h3 Address Tag
address
	strong This holds an address.
	br block level, but without margin or padding because they're often stacked.

br
br


h3 Horizontal Line
hr
br
br


h3 Inline elements
div(class="row clearfix")
	div(class="first six columns")
		p <abbr title="Cascading Style Sheets">CSS</abbr> — <code>&lt;abbr&gt;</code>
		p <cite>Origin of Species</cite> — <code>&lt;cite&gt;</code>
		p <code>Code tag</code> — <code>&lt;code&gt;</code>
		p <em>Emphasis</em> — <code>&lt;em&gt;</code>
		p <i>Italic text</i> — <code>&lt;i&gt;</code>
		p <dfn>defining instance of a term</dfn> — <code>&lt;dfn&gt;</code>
		p <mark>Mark text</mark> — <code>&lt;mark&gt;</code>

	div(class="last six columns")
		p <kbd>Cmd + Shift + i</kbd> — <code>&lt;kbd&gt;</code>
		p <strong>Highlighted text</strong> — <code>&lt;strong&gt;</code>
		p <b>Bold text</b> — <code>&lt;b&gt;</code>
		p <del>Deleted text</del> — <code>&lt;del&gt;</code>
		p <sup>superscript</sup> — <code>&lt;sup&gt;</code>
		p <sub>subscript</sub> — <code>&lt;sub&gt;</code>

br
br


h3 Preformatted text
pre Lorem ipsum dolor sit amet, consectetur 		aliquipdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 	aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate		velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 		occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
br
br


h3 Blockquotes
blockquote
	p This is a block quotation containing a <em>single</em> paragraph. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	cite Cite tag

blockquote
	p This is a block quotation containing a <em>single</em> paragraph. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	small Small tag with pull-right

br
br


h3 Lists
div(class="row clearfix")
	div(class="first six columns")
		ul
			li One.
			li Two.
				ul
					li 1
					li 2
						ul
							li 1
							li 2
								ul
									li 1
									li 2
									li 3
							li 3
					li 3
			li Three.
			li Four.
			li Five.
			li Six.
			li Seven.
			li Eight.

	div(class="last six columns")
		ol
			li One.
			li Two.
			li Three.
			li Four.
			li Five
			li Six
				ol
					li 1
					li 2
						ol
							li 1
							li 2
								ol
									li 1
									li 2
									li 3
							li 3
					li 3
			li Seven
			li Eight

br
br


h3 Definition
dl
	dt Apple
	dd is a fruit.
	dt Banana
	dd Is also a fruit.
	dt Tomato
	dd Is debatable. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
