{namespace v=Tx_Vhs_ViewHelpers}

<v:var.set name="pageUids" value="{v:var.typoscript(path: 'plugin.<!= pkg.name !>.pageUids')}" />

<v:page.header.meta name="viewport" content="width=device-width, initial-scale=1.0" />

<v:asset.style name="BaseStylesheet" path="EXT:<!= pkg.name !>/Resources/Public/Stylesheets/Main.css" standalone="1" />
<v:asset.script name="Modernizr" path="EXT:<!= pkg.name !>/Resources/Public/Javascripts/Sources/Vendor/modernizr/modernizr.js" allowMoveToFooter="0" />
<v:asset.script name="App" path="EXT:<!= pkg.name !>/Resources/Public/Javascripts/Build/App.min.js" allowMoveToFooter="1" />


<f:render partial="Page/Header" arguments="{_all}" />
<f:render section="Main" arguments="{_all}" />
<f:render partial="Page/Footer" arguments="{_all}" />
