{namespace vhs=Tx_Vhs_ViewHelpers}

<vhs:asset.style standalone="1" path="EXT:t3b_template/Resources/Public/Stylesheets/Main.css" />
<vhs:asset.script allowMoveToFooter="0" path="EXT:t3b_template/Resources/Private/Javascripts/Libaries/Modernizr/modernizr.js" />


<f:render partial="Page/Header" arguments="{_all}" />
<main class="site-content" role="main">
	<div class="site-wrapper">
		<!-- TYPO3SEARCH_begin -->
		<f:render section="Main" arguments="{_all}" />
		<!-- TYPO3SEARCH_end -->
	</div>
</main>
<f:render partial="Page/Footer" arguments="{_all}" />