/* ==========================================================
 * base.scss
 *
 * Basic styling for this site (f.e. Header and Footer)
 * DOCS: 
 * ========================================================== */


/* =============================================================================
$ Maincontainer
================================================================================ */
.wrapper {
	margin: 0 auto;
	width: $layoutWidth;
	position: relative;
}
#header {

	.wrapper {}
}
#content {

	.wrapper {}
}
#footer {
	
	.wrapper {}
}


/* =============================================================================
$ Logos
================================================================================ */
.logo {
	@include img-wh('logo.png');
	background: url('../img/logo.png');
	&:hover {}
	#header & {
		position: absolute;
		top: 30px;
		left: 30px;
	}
	#footer & {
		float: right;
	}
}


/* =============================================================================
$ Searchforms
================================================================================ */
.searchform {
	position: absolute;
	right: 30px;
	top: 30px;
	input {
		float: left;
		display: block;
	}
	input[type="search"] {}
	input[type="submit"] {}
}



/* =============================================================================
$ Footer
================================================================================ */



/* =============================================================================
$ Chromeframe
================================================================================ */
.chromeframe {
	display: block;
	height: 41px;
	line-height: 41px;
	font-size: 12px;
	background: $warningBackground;
	color: $warningTextColor;
	border-bottom: $warningBorder;
	text-align: center;
	a { border-bottom: 1px dotted; }
}
