/* ==========================================================
 * base.scss
 *
 * Basic styling for this site (f.e. Header and Footer)
 * DOCS: 
 * ========================================================== */


// =============================================================================
// $ RWD Viewport rules
// DOCS: http://dev.w3.org/csswg/css-device-adapt/
// =============================================================================
@if $isResponsive == 1 {
  @-webkit-viewport { width: device-width; }
     @-moz-viewport { width: device-width; }
      @-ms-viewport { width: device-width; }
       @-o-viewport { width: device-width; }
          @viewport { width: device-width; }
}


/* =============================================================================
$ Site-wrapper
================================================================================ */
.wrapper {
	margin: 0 auto;
	width: $layoutWidth;
	position: relative;
}
#header {

	.wrapper {}
}
#content {

	.wrapper {}
}
#footer {
	
	.wrapper {}
}


/* =============================================================================
$ Logos
================================================================================ */
.logo {
	@include img-wh('logo.png');
	background: url('../img/logo.png');

	#header & {
		position: absolute;
		top: 30px;
		left: 30px;
	}
	#footer & {}
}


/* =============================================================================
$ Searchforms
================================================================================ */
/*form*/.searchform {
	position: absolute;
	right: 30px;
	top: 30px;
	input {
		float: left;
		display: block;
	}
	input[type="search"] {}
	input[type="submit"] {}
}


/* =============================================================================
$ Chromeframe
================================================================================ */
.chromeframe {
	display: block;
	height: 41px;
	border-bottom: 1px $basicBorderStyle #e7db9c;
	background: #faf6e8;
	font-size: 12px;
	line-height: 41px;
	color: $cd-darkGray;	
	text-align: center;
	a { border-bottom: 1px dotted; }
}
