/* ==========================================================
 * grid.scss
 *
 * Sets up the grid
 * DOCS: 
 * ========================================================== */


/* =============================================================================
$ Variables
================================================================================ */
$columWidth:          $layoutWidth / $totalColumns - $columnGutter !default;


/* =============================================================================
$ Grid Classes
================================================================================ */
// Base styles for .row .# classes
.columns {
  float: left;
  margin: 0 $columnGutter / 2;
}

.row {
  // Creating .row .# classes
  @for $i from 1 through $totalColumns {
    .#{convert-number-to-word($i)} {
      width: gridCalc($i, $totalColumns);
    }
  }
  // Creating .row .offset-by-# classes
  @for $i from 1 through $totalColumns - 2 {
    .offset-by-#{convert-number-to-word($i)} {
      margin-left: gridCalc($i, $totalColumns) + ($columnGutter * 1.5);
    }
  }
}