/* ==========================================================
 * tables.scss
 *
 * Basic styling for tables
 * DOCS: 
 * ========================================================== */


/* =============================================================================
$ Tables
================================================================================ */
table {
        max-width: 100% !important;
        width: 100%;
        caption {
                text-align: left; // UA-Style is centered
        }
}
th {
        padding:7px 8px 3px;
        text-align: left; // UA-Style is centered
        font-weight:400;
        color: darken( $baseColor, 30% );
}
td { padding: 9px 8px 7px; }



/* =============================================================================
$ Contenttable-1 (Bordered Table w/ odd & even)
================================================================================ */
.contenttable-1 {
        border: 1px $basicBorderStyle $basicBorderColor;
        border-collapse: separate;
        td, th {
                border-left: 1px $basicBorderStyle $basicBorderColor;
                border-bottom: 1px $basicBorderStyle $basicBorderColor;
        }
        .tr-even { background: #FFF; }
        .tr-odd { background: #F9F9F9; }
        .tr-last td { border-bottom: 0; }
        .td-0 { border-left: 0; }
}


/* =============================================================================
$ Contenttable-2 (Clean Table)
================================================================================ */
.contenttable-2 {
        td, th { border-bottom: 1px $basicBorderStyle $basicBorderColor; }
}


/* =============================================================================
$ Contenttable-3 (Clean Table (condensed))
================================================================================ */
.contenttable-3 {
        td, th { border-bottom: 1px $basicBorderStyle $basicBorderColor; }
        th { padding: 5px 8px 2px; }
        td { padding: 5px 8px 3px; }
}