/*!
 * High-level wrapper elements, logos and CI related stuff
 *
 * @package #{$package_name()}
 * @path base/_base.scss
 * @author Tyll Weiß <t.weiss@exinit.de>
 */


/* =============================================================================
$ High level wrapper and elements
================================================================================ */
body {
  /**
   * Addresses margins handled incorrectly in IE6/7.
   */
  margin: 0;

  font: $baseFontWeight #{$baseFontSize/16*100}%/#{$baseLineHeight/$baseFontSize} $baseFontFamily;
  text-align: $start;
  color: $baseTextColor;
  background: $bodyBackground;
}
.wrapper {
  @if $centeredLayout { margin-left: auto; margin-right: auto; }
  width: $layoutWidth;
  position: relative;
}
.site-header { }
.site-content { }
.site-footer { }