/*!
 * Basic styling and extended classes for tables
 *
 * @package #{$package_name()}
 * @path base/_tables.scss
 * @author Tyll Weiß <t.weiss@exinit.de>
 */


/* =============================================================================
$ Tables
================================================================================ */
table {
  width: 100%;
  margin-top: 0;
  @extend %margin-bottom;
  border-collapse: collapse;
  border-spacing: 0;

  caption { text-align: $start; }
}
th { text-align: $start; }
th, td { vertical-align: top; }


/* =============================================================================
$ Contenttable-1
================================================================================
 * Extends the basic table styles
 * Bordered table with an odd & even changing background-color e.g.
 *
  <table class="contenttable-1">
    <thead>
      <tr>
        <th class="td-0">Name</th>
        <th>Age</th>
        <th>Residence</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tr-odd">
        <td class="td-0">Max Mustermann</td>
        <td>20</td>
        <td>Berlin</td>
      </tr>
      <tr class="tr-even">
        <td class="td-0">Max Mustermann</td>
        <td>20</td>
        <td>Berlin</td>
      </tr>
      <tr class="tr-odd tr-last">
        <td class="td-0">Max Mustermann</td>
        <td>20</td>
        <td>Berlin</td>
      </tr>
    </tbody>
  </table>
================================================================================ */
.contenttable-1 {
  border: 1px solid $basicBorderColor;
  border-collapse: separate;
  td, th {
    border-left: 1px solid $basicBorderColor;
    border-bottom: 1px solid $basicBorderColor;
    padding: 0.5em;
  }

  .tr-even { background: $contentBackground; }
  .tr-odd { background: color-adjust($contentBackground, 5%); }
  .tr-last td { border-bottom: 0; }
  .td-0 { border-left: 0; }
}


/* =============================================================================
$ Contenttable-2
================================================================================
 * Extends the basic table styles
 * Clean table with borders below each row e.g.
 *
  <table class="contenttable-2">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Residence</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Max Mustermann</td>
        <td>20</td>
        <td>Berlin</td>
      </tr>
      <tr>
        <td>Max Mustermann</td>
        <td>20</td>
        <td>Berlin</td>
      </tr>
      <tr>
        <td>Max Mustermann</td>
        <td>20</td>
        <td>Berlin</td>
      </tr>
    </tbody>
  </table>
================================================================================ */
.contenttable-2 {
  td, th {
    border-bottom: 1px solid $basicBorderColor;
    padding: 0.5em;
  }
  th { padding-top: 0; }
}


/* =============================================================================
$ Contenttable-3
================================================================================
 * Extends the basic table styles
 * Clean condensed table with borders below each row e.g.
 *
  <table class="contenttable-3">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Residence</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Max Mustermann</td>
        <td>20</td>
        <td>Berlin</td>
      </tr>
      <tr>
        <td>Max Mustermann</td>
        <td>20</td>
        <td>Berlin</td>
      </tr>
      <tr>
        <td>Max Mustermann</td>
        <td>20</td>
        <td>Berlin</td>
      </tr>
    </tbody>
  </table>
================================================================================ */
.contenttable-3 {
  td, th {
    border-bottom: 1px solid $basicBorderColor;
    padding: 0.25em 0.5em 0.25em;
  }
  th { padding-top: 0; }
}