/*!
 * Basic styling for all typographic related elements e.g.
 * <b>, <sup>, <i>
 *
 * @package #{$package_name()}
 * @path base/_typography.scss
 * @author Tyll Weiß <t.weiss@exinit.de>
 */


/* =============================================================================
$ Margins
================================================================================ */
/* =================== UA-Style margin-reset =================== */
p, pre, ol,
ul, dl, menu { margin-top: 0; }

/* ======================== Top margins ======================== */
/* Basic spacing */
%sass-margin-top {
  margin-top: $basicSpacing +em;
  margin-top: $basicSpacing +rem;
}
/* Half spacing */
%sass-half-margin-top {
  margin-top: $halfSpacing +em;
  margin-top: $halfSpacing +rem;
}

/* ====================== Bottom margins ======================= */
/* Basic spacing */
%sass-margin-bottom {
  margin-bottom: $basicSpacing +em;
  margin-bottom: $basicSpacing +rem;
}

/* Half spacing */
%sass-half-margin-bottom {
  margin-bottom: $halfSpacing +em;
  margin-bottom: $halfSpacing +rem;
}


/* =============================================================================
$ Typography Elements
  Contents: 1: Addresses style set to `bolder` in FF3+, S4/5, Chrome.
            2: Addresses styling not present in IE7/8/9, S5, Chrome.
            3: Addresses styling not present in IE6/7/8/9.
            4: Addresses styling not present in S5, Chrome.
            5: Prevents `sub` and `sup` affecting `line-height` in all browsers.
               gist.github.com/413930
================================================================================ */
p {
  @extend %sass-margin-bottom;
}
b,
strong {
  font-weight: $bold; /* 1 */
}
small { font-size: 80%; }
abbr[title] { /* 2 */
  border-bottom: 1px dotted;
  cursor: help;
}
mark { /* 3 */
  background: $cd-primary;
  color: color-adjust($cd-primary, 100%);
}
dfn {
  font-style: italic; /* 4 */
}
sub,
sup { /* 5 */
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
$ Code & pre-formatted text elements
================================================================================ */
code,
kbd,
pre,
samp {
   /* Corrects font family set oddly in Safari 5 and Chrome. */
  font-family: $monoFontFamily;
  @if $oldIE == true { _font-family: 'courier new', monospace; }
  font-size: 1em;
}
pre {
  /* Improves readability of pre-formatted text in all browsers. */
  white-space: pre-wrap;
  @extend %sass-margin-bottom;
}


/* =============================================================================
$ Quotes
================================================================================ */
q {
  /* Sets consistent quote types. */
  quotes: "\201C" "\201D" "\2018" "\2019";

  @if $oldIE == true {
    &:before,
    &:after {
      /* Addresses `quotes` property not supported in S4. */
      content: '';
      content: none;
    }
  }
}
blockquote {
  @extend %sass-margin-top;
  @extend %sass-margin-bottom;
}


/* =============================================================================
$ Seperators
================================================================================ */
hr {
  /*
  * Address differences between Firefox and other browsers.
  */
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  display: block;
  height: 1px;
  border: 0;
  border-top: 1px $basicBorderStyle $basicBorderColor;
  padding: 0;
  @extend %sass-margin-top;
  @extend %sass-margin-bottom;
}


/* =============================================================================
$ Typographic Helper Classes
================================================================================ */
.align-center { text-align: center; }
.align-right  { text-align: right; }
.align-left   { text-align: left; }
.intend { padding: 0 1.5em; }


/* =============================================================================
$ Text-Selection
================================================================================ */
::-moz-selection,
::selection {
  background: $cd-primary;
  color: color-adjust($cd-primary, 100%);
  text-shadow: none;
}
