// ==========================================================
/* ยง /objects/navigations.scss */
//
// Basic styling for all site-navigation elements
// DOCS: http://csswizardry.com/2011/09/the-nav-abstraction/
// ==========================================================


/* =============================================================================
$ Navigations
================================================================================ */
/**
 * When used on an `ol` or `ul` wrapper, this class throws the list into horizontal mode
 * e.g.:
 *
   <nav class="nav" role="navigation">
     <ul>
         <li><a href=#>Home</a></li>
         <li><a href=#>About</a></li>
         <li><a href=#>Portfolio</a></li>
         <li><a href=#>Contact</a></li>
     </ul>
   </nav>
 *
 */
.nav {
  ul, ol { @extend %reset-list; }
  li { @extend %inline-block; }
  a {
    display: block;
    &:hover { }
  }
  .active a { }
}

/* ======================= Stacked Navigation ======================= */
/* Throws the list into vertical mode - used for DropDowns etc. */
/*.nav*/.stacked li {
  display: list-item;
}

/* ========================= Fit Navigation ========================= */
/* Force a nav to occupy 100% of the available width of its parent. Extends
 * Thanks to @pimpl for this idea! */
.nav--fit {
  ul {
    display: table;
    width: 100%;
    > li {
      display: table-cell;
    }
  }
}

/* ======================== Main Navigation ========================= */
/*.nav*/.site-nav {
  ul { }
  li { }
  a { }
}

/* ======================== Footer Navigation ======================== */
/*.nav*/.footer-nav {
  ul { }
  li { }
  a { }
}

/* ====================== Breadcrumb Navigation ====================== */
/*.nav*/.breadcrumb {
  ol { }
  li { }
  a { }
}
