/*
Button Object

Display an anchor tag as a button

.btn - Display an element as an button.
.btn.btn--full - Set the button width to the width of it's parent element.

Markup:
<a class="{$modifiers}">A Special link</a>

Styleguide 4.1.1
*/
.btn {
	@extend %btn;
	display: inline-block;
	&,
	&:hover {
		text-decoration: none;
	}
}

.btn--full {
	display: block;
	text-align: center;
	/**
	 * The following is so that this class works properly on inputs as well
	 * as anchor tags.
	 */
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}
