/*
Grid

Grid object which makes use of the generated width classes.

Markup:
<div class="g">
	<div class="gi one-third">first collumn</div>
	<div class="gi one-third">second collumn</div>
	<div class="gi one-third">third collumn</div>
</div>

Styleguide 4.1.3
*/
$grid-direction:  $start;

.g,
.grid {
	@extend .cf;
	margin-left: -($column-gutter / 2);
	margin-right: -($column-gutter / 2);
}
.gi,
.grid__item {
	// Base styles for .gi--# classes
	float: $grid-direction;
	padding-left: ($column-gutter / 2);
	padding-right: ($column-gutter / 2);
}
