/*
[OBJECT] Navigation

A modified version of the navigation object from inuit.css

Styleguide 15
*/



/*
Navigation

.nav - Throws a list into horizontal mode.
.nav.nav--stacked - Throws a list into vertical mode.
.nav.nav--fit - Force a nav to occupy 100% of the available width of its parent.

Markup:
<ul class="{$modifiers}">
	<li><a href="">Home</a></li>
	<li><a href="">About</a></li>
	<li><a href="">Products</a></li>
	<li><a href="">Contact</a></li>
</ul>

Styleguide 15.0.1
*/
.nav {
	@extend %reset-list;
	li { display: inline-block; }
	a { display: block; }
}
.nav--stacked li {
	display: list-item;
}
.nav--fit {
	display: table;
	width: 100%;
	> li {
		display: table-cell;
	}
}
