/*
 * Basic styling for headings and sub-headings
 *
 * @package #{ext_directory()}
 * @path Base/_Headings.scss
 */


/* =============================================================================
$ Headings
================================================================================ */
h1, h2, h3,
h4, h5, h6 {
	@if map-get($headings, fontFamily) { font-family: map-get($headings, fontFamily); }
	font-weight: map-get($headings, fontWeight);
	color: map-get($headings, color);
	/**
	 * Optimized kerning for large font sizes
	 * use this only on large font-sizes (f.e. headings) to avoid performance issues
	 */
	text-rendering: optimizeLegibility;
}

@each $key, $value in map-get($headings, elements) {
	$headingFontSize: map-fetch($headings, elements $key font-size);
	$additionalRules: map-remove(map-fetch($headings, elements $key), font-size);
	#{$key}, .#{$key} {
		@include font-size($headingFontSize, $append-vrythm: false);
		@each $declaration, $value in $additionalRules {
			#{$declaration}: $value;
		}
	}
}
