/*
[Base] Typography

Basic styling for all typographic related elements.

Styleguide 8
*/


/*
Base paragraph

Markup:
<p>I am an paragraph.</p>

Styleguide 8.0.1
*/
p {
	@extend %reset-margin-top;
	@extend %margin-bottom;
}

/*
Bold and strong elements

Markup:
<b>This text should be displayed in a bolder font-weight than the standard one.</b>

Styleguide 8.0.2
*/
b,
strong {
	font-weight: $bold; /* Addresses style set to `bolder` in FF3+, S4/5, Chrome. */
}

/*
Small text emphasis

Markup:
<small>This text should be smaller than the standard one.</small>

Styleguide 8.0.3
*/
small { font-size: 80%; }

/*
Abbreviation element

Markup:
<abbr title="The title of the abbreviation">This is an abbreviation.</abbr>

Styleguide 8.0.4
*/
abbr[title] { /* Addresses styling not present in IE7/8/9, S5, Chrome. */
	border-bottom: 1px dotted;
	cursor: help;
}

/*
Marked text emphasis element

Markup:
<mark>This text should be displayed in a special manner.</mark>

Styleguide 8.0.5
*/
mark { /* Addresses styling not present in IE6/7/8/9. */
	background: map-get($brand-colors, primary);
	color: color-adjust(map-get($brand-colors, primary), 100%);
}

/*
Definition element

Markup:
<dfn>This text represents the defining instance of a term.</dfn>

Styleguide 8.0.6
*/
dfn {
	font-style: italic; /* Addresses styling not present in S5, Chrome. */
}

/*
Subscript Elements

Markup:
Regular text - <sup>this will be displayed higher and smaller than the main span of text.</sup><br>
Regular text - <sub>this will be displayed lower and smaller than the main span of text.</sub>

Styleguide 8.0.7
*/
sub,
sup { /* Prevents `sub` and `sup` affecting `line-height` in all browsers. gist.github.com/413930 */
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/*
Code & pre-formatted text elements

Markup:
<code>.css{ color: red; }</code><br>
<kbd>.css{ color: red; }</kbd><br>
<samp>.css{ color: red; }</samp><br>
<pre>.css{ color: red; }</pre>

Styleguide 8.0.8
*/
code,
kbd,
pre,
samp {
	/**
	 * Corrects font family set oddly in Safari 5 and Chrome.
	 */
	font-family: $mono-font-family;
	@if $legacy-normalizecss { _font-family: 'courier new', monospace; }
	font-size: 1em;
}
pre {
	/**
	 * Improves readability of pre-formatted text in all browsers.
	 */
	white-space: pre-wrap;
	@extend %reset-margin-top;
	@extend %margin-bottom;
}


/*
Quotes

Markup:
The following text <q>is an inline-quote</q>
<blockquote>This text is a full quotation element</blockquote>

Styleguide 8.0.9
*/
q {
	/**
	 * Sets consistent quote types.
	 */
	quotes: "\201C" "\201D" "\2018" "\2019";

	@if $legacy-normalizecss {
		&:before,
		&:after {
			/*
			 * Addresses `quotes` property not supported in S4.
			 */
			content: '';
			content: none;
		}
	}
}
blockquote {
	@extend %margin-top;
	@extend %margin-bottom;
}


/*
Horizontal ruler

Markup:
<hr>

Styleguide 8.0.10
*/
%horizontal-ruler,
hr {
	/**
	* Address differences between Firefox and other browsers.
	*/
	-moz-box-sizing: content-box;
	box-sizing: content-box;

	display: block;
	height: 0;
	border: 0;
	border-top: 1px $basic-border-style $basic-border-color;
	padding: 0;
	@extend %margin-top;
	@extend %margin-bottom;
}


/* =============================================================================
$ Text-Selection
================================================================================ */
::-moz-selection,
::selection {
	background: map-get($brand-colors, primary);
	color: color-adjust(map-get($brand-colors, primary), 100%);
	text-shadow: none;
}


/*
Typographic Helper Classes

.align-center - Centers the text.
.align-right - Aligns the text on it's right boundary.
.align-left - Aligns the text on it's left boundary.
.intend - Intends the element.
.text-break - Break strings when their length exceeds the width of their container.
.basic_spacing-top - Adds a basic typographic margin on the top.
.basic_spacing-bottom - Adds a basic typographic margin on the bottom.
.half_spacing-top - Adds a half sized typographic margin on the top.
.half_spacing-bottom - Adds a half sized typographic margin on the bottom.


Markup:
<p class="{$modifiers}">I am an paragraph.</p>

Styleguide 8.0.11
*/
.align-center { text-align: center; }
.align-right  { text-align: right; }
.align-left   { text-align: left; }
.intend { padding: 0 1.5em; }

%text-break,
.text-break {
	word-wrap: break-word;
	hyphens: auto;
}

%reset-margin-top { margin-top: 0; }

%margin-top,
.basic_spacing-top {
	@include rem(margin-top, $basic-spacing);
}

%half-margin-top,
.half_spacing-top {
	@include rem(margin-top, $half-spacing);
}

%margin-bottom,
.basic_spacing-bottom {
	@include rem(margin-bottom, $basic-spacing);
}

%half-margin-bottom,
.half_spacing-bottom {
	@include rem(margin-bottom, $half-spacing);
}
