// ==========================================================
// _settings.scss
//
// Merges all Settings needed
// ==========================================================


@import "_variables";             // SASS Settings
@import "_functions";             // SASS Settings
@import "_mixins";                // SASS Mixins