// ==========================================================
// _settings.scss
//
// Merges all Settings needed
// ==========================================================


@import "_settings";							// SASS Settings
@import "_functions";							// SASS Settings
@import "_mixins";								// SASS Mixins
@import "_modernizr";							// Modernizr Fallback Mixins
@import "_placeholders";					// SASS Placeholders