// ==========================================================
// functions.scss
//
// Functions - thats all.
// DOCS: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#function_directives
// ==========================================================


// =============================================================================
// Convert to number
// =============================================================================
@function convert-number-to-word($num) {
	$count: 1;
	@each $word in one,two,three,four,five,six,seven,eight,nine,ten,eleven,
		twelve,thirteen,fourteen,fifteen,sixteen,seventeen,eighteen,nineteen,
		twenty,twentyone,twentytwo,twentythree,twentyfour {
		@if ($count == $num) { @return $word; }
		$count: $count + 1;
	}
	@return "invalid";
}


// =============================================================================
// Grid Calc
// =============================================================================
@function gridCalc($colNumber, $totalColumns) {
	@return ($columWidth * $colNumber) + ($columnGutter * ($colNumber - 1));
}


// =============================================================================
// Relative Size
// =============================================================================
// Desired font-size รท font-size of containing element, or more succinctly:
// target รท context = result

// Based on the relative-size function from Stitch, http://stitchcss.com/
// To use rems, pass in `rem` as the last parameter
@function rs( $target, $context: $baseFontSize, $unit: em ) {
  @return #{$target/$context}$unit;
}