// ==========================================================
// modernizr.scss
//
// Modernizr Fallback Mixins
// DOCS: http://modernizr.com/docs/
// ==========================================================


// ======================== No Javascript ============================
@mixin no-js {
	.no-js & { @content; }
}

// ======================== Flexbox ============================
@mixin no-flexbox {
	.no-flexbox & { @content; }
}

// ======================== Canvas ============================
@mixin no-canvas {
	.no-canvas & { @content; }
}

// ======================== Canvastext ============================
@mixin no-canvastext {
	.no-canvastext & { @content; }
}

// ======================== webgl ============================
@mixin no-webgl {
	.no-webgl & { @content; }
}

// ======================== touch ============================
@mixin no-touch {
	.no-touch & { @content; }
}

// ======================== geolocation ============================
@mixin no-geolocation {
	.no-geolocation & { @content; }
}

// ======================== postmessage ============================
@mixin no-postmessage {
	.no-postmessage & { @content; }
}

// ======================== websqldatabase ============================
@mixin no-websqldatabase {
	.no-websqldatabase & { @content; }
}

// ======================== indexeddb ============================
@mixin no-indexeddb {
	.no-indexeddb & { @content; }
}

// ======================== hashchange ============================
@mixin no-hashchange {
	.no-hashchange & { @content; }
}

// ======================== history ============================
@mixin no-history {
	.no-history & { @content; }
}

// ======================== draganddrop ============================
@mixin no-draganddrop {
	.no-draganddrop & { @content; }
}

// ======================== websockets ============================
@mixin no-websockets {
	.no-websockets & { @content; }
}

// ======================== rgba ============================
@mixin no-rgba {
	.no-rgba & { @content; }
}

// ======================== hsla ============================
@mixin no-hsla {
	.no-hsla & { @content; }
}

// ======================== multiplebgs ============================
@mixin no-multiplebgs {
	.no-multiplebgs & { @content; }
}

// ======================== backgroundsize ============================
@mixin no-backgroundsize {
	.no-backgroundsize & { @content; }
}

// ======================== borderimage ============================
@mixin no-borderimage {
	.no-borderimage & { @content; }
}

// ======================== borderradius ============================
@mixin no-borderradius {
	.no-borderradius & { @content; }
}

// ======================== boxshadow ============================
@mixin no-boxshadow {
	.no-boxshadow & { @content; }
}

// ======================== textshadow ============================
@mixin no-textshadow {
	.no-textshadow & { @content; }
}

// ======================== opacity ============================
@mixin no-opacity {
	.no-opacity & { @content; }
}

// ======================== cssanimations ============================
@mixin no-cssanimations {
	.no-cssanimations & { @content; }
}

// ======================== csscolumns ============================
@mixin no-csscolumns {
	.no-csscolumns & { @content; }
}

// ======================== cssgradients ============================
@mixin no-cssgradients {
	.no-cssgradients & { @content; }
}

// ======================== cssreflections ============================
@mixin no-cssreflections {
	.no-cssreflections & { @content; }
}

// ======================== csstransforms ============================
@mixin no-csstransforms {
	.no-csstransforms & { @content; }
}

// ======================== csstransforms3d ============================
@mixin no-csstransforms3d {
	.no-csstransforms3d & { @content; }
}

// ======================== csstransitions ============================
@mixin no-csstransitions {
	.no-csstransitions & { @content; }
}

// ======================== fontface ============================
@mixin no-fontface {
	.no-fontface & { @content; }
}

// ======================== generatedcontent ============================
@mixin no-generatedcontent {
	.no-generatedcontent & { @content; }
}

// ======================== video ============================
@mixin no-video {
	.no-video & { @content; }
}

// ======================== audio ============================
@mixin no-audio {
	.no-audio & { @content; }
}

// ======================== localstorage ============================
@mixin no-localstorage {
	.no-localstorage & { @content; }
}

// ======================== sessionstorage ============================
@mixin no-sessionstorage {
	.no-sessionstorage & { @content; }
}

// ======================== webworkers ============================
@mixin no-webworkers {
	.no-webworkers & { @content; }
}

// ======================== applicationcache ============================
@mixin no-applicationcache {
	.no-applicationcache & { @content; }
}

// ======================== svg ============================
@mixin no-svg {
	.no-svg & { @content; }
}

// ======================== inlinesvg ============================
@mixin no-inlinesvg {
	.no-inlinesvg & { @content; }
}

// ======================== smil ============================
@mixin no-smil {
	.no-smil & { @content; }
}

// ======================== svgclippaths ============================
@mixin no-svgclippaths {
	.no-svgclippaths & { @content; }
}
