/* ==========================================================
 * placeholders.scss
 *
 * Placeholders to develope faster
 * Use these to reduce duplicate code
 *
 * Usage:
 * @extend %name;
 *
 * DOCS: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
 * ========================================================== */


// ======================== Reset list ==================================
%reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

// ======================== Cross browser inline-block ===============================
%inline-block {
	display: inline-block;
	@if $isOldIE == 1 {
		*display: inline;
		*zoom: 1;
	}
}

// ======================== Sprites ===============================
%sprite { background-image: url('../img/sprite.png'); background-repeat: no-repeat; }