/* ==========================================================
 * placeholders.scss
 *
 * Placeholders to develope faster
 * Use these to reduce duplicate code
 *
 * Usage:
 * @extend %name;
 *
 * DOCS: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#placeholder_selectors_
 * ========================================================== */


// ======================== Reset list ==================================
%reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// ======================== Cross browser inline-block ===============================
%inline-block {
  display: inline-block;
  @if $isOldIE == 1 {
    *display: inline;
    *zoom: 1;
  }
}

// ======================== Sprites ===============================
%sprite { background-image: url('../img/sprite.png'); background-repeat: no-repeat; }

// ===================== Simple Replace ===========================
%replace {
  font: 0/0 a;
  text-shadow: none;
}

// ======================== CSS3 Word-breaker ============================
%hyphens {
  -ms-word-break: break-all;
      word-break: break-all;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}