// ==========================================================
// variables.scss
//
// Merges all listed stylesheets and does the SASS & Compass magic
// DOCS: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_
//
//
// Support-table for $isOldIE: 0;
//
// Google Chrome
// Mozilla Firefox 4+
// Apple Safari 5+
// Opera 12+
// Internet Explorer 8+
//
// ==========================================================


// =============================================================================
// Project Settings
// =============================================================================
$responsive:          	false;  // If set to 'true' CSS-Viewport-Rules are added
$oldIE:                 true;   // If set to 'false' it will ignore IE6 & IE7 Hacks while compiling
$direction:             ltr;    // set "dir" attribute in HTML to "ltr" (default) or "rtl"


// =============================================================================
// Layout
// =============================================================================
// ================================ Widths ================================
$layoutWidth:           960px;  // Used for calculating the grid
$query-tablet:          800px;  // Tablets
$query-smartphoneLarge: 480px;  // Phone - Landscape
$query-smartphoneSmall: 320px;  // Phone - Portrait

// ============================== Grid System =============================
$totalColumns:          12;     // Number of columns
$columnGutter:          20;     // Inner spacing

// ============================== Backgrounds =============================
$bodyBackground:        #fff;   // Will be set on <body>
$contentBackground:     $bodyBackground; // Used for generating some colors


// =============================================================================
// Typography
// =============================================================================
// ============================== Font familys ============================
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

// ============================== Font weights ============================
// NOTE:
// Font-weights below are used to handle webfonts - if this layout doesnt
// use a webfont, dont change them
$bold:                  700;
$regular:               400;
$light:                 300;

// ========================== Base font settings ==========================
$baseFontSize:          16; // Set in px
$baseLineHeight:        24; // Set in px
$baseFontFamily:        $sansFontFamily;
$baseFontWeight:        $regular;
$baseTextColor:         #3C474B;

// =============================== Headings ===============================
$headingsFontFamily:    inherit; // empty to use $baseFontFamily
$headingsFontWeight:    $bold;
$headingsColor:         #000;

// =============================== Spacings ===============================
$basicSpacing:          $baseLineHeight / $baseFontSize;
$halfSpacing:           $basicSpacing / 2;


// =============================================================================
// Colors
// =============================================================================
// ======================== Coporate Design colors ========================
$cd-primary:            #0097d7;
$cd-primaryLight:       lighten($cd-primary, 20%);
$cd-primaryDark:        darken($cd-primary, 30%);

$cd-secondary:          #38464b;
$cd-secondaryLight:     lighten($cd-secondary, 20%);
$cd-secondaryDark:      darken($cd-secondary, 30%);

// ================================= Links ================================
$linkColor:             lighten($cd-primary, 10%);
$linkColorHover:        $cd-primary;

// ================================ Borders ===============================
$basicBorderColor:      darken($contentBackground, 20%);
$basicBorderStyle:      solid;

