//
// Vars
//
@baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;

@baseBackgroundColor: #FFF;
@darkBackgroundColor: #243746;
@darkActionColor: #344D61;
@baseBorderColor: #eee;
@baseActionColor: #4183c4;
@lightGrey: #f9f9f9;

@baseFontSize: 16px;
@baseTextColor: #3c474b;
@baseBorderRadius: 3px;
@baseSpacing: 15px;
@baseIndent: 20px;

@navWidth: 480px;

//
// Base element styles
//
.kssBody {
	background: #edf1f4;
	margin: 0;
	overflow: hidden;
}


//
// Styleguide Header
//
.kss___header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	margin-bottom: @baseSpacing*2;
	padding: 26px @baseIndent*4 26px;
	border-bottom: 1px solid @baseBorderColor;
	font-family: @baseFontFamily;
	background: @baseBackgroundColor;
	h1 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: @baseFontSize + 4;
		font-weight: normal;
		line-height: 1;
		> a {
			color: @baseTextColor;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
	.kss___header__toggleNav {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		height: 100%;
		width: 72px;
		text-align: center;
		line-height: 74px;
		font-size: 30px;
		font-family: Arial;
		transition: .2s ease color;
		&:hover {
			text-decoration: none;
		}
	}
	.kss___header__toggleNav--active {
		color: @baseTextColor;
	}


//
// Styleguide Navigation
//
.kss___navWrapper {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: @navWidth;
  background: @darkBackgroundColor;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
}

.kss___nav {
	padding: 18px @baseIndent 0;
}
	.kss___nav__item {
		border-bottom: 1px solid @darkActionColor;
		> a {
			color: @baseBackgroundColor;
			padding: @baseSpacing 3px @baseSpacing @baseSpacing;
			transition: .2s ease all;
			border-left: 3px solid @darkBackgroundColor;
			transition: .2s ease all;
			&:hover {
				text-decoration: none;
				background: @darkActionColor;
				border-color: @darkActionColor;
			}
		}
		&:last-child {
			border-bottom: 0;
		}
	}
	.kss___nav__item--active > a {
		border-color: @baseActionColor;
		&:hover {
			border-color: @baseActionColor;
			background: 0;
			cursor: default;
		}
	}

.kss___navSub {
	font-size: 12px;
	letter-spacing: .4px;
	padding-bottom: @baseSpacing;
}
	.kss___navSub__item {
		display: table-row !important;
		line-height: 1.2;
		> a {
			padding: 2px @baseSpacing/2 2px @baseSpacing*2;
			border-left: 3px solid @darkBackgroundColor;
			color: @baseBackgroundColor;
			transition: .2s ease all;
			font-weight: 600;
			&:hover {
				text-decoration: none;
				opacity: 1;
			}
		}
	}
	.kss___navSub__item--2 {
		> a {
			margin-top: .5em;
		}
		&:first-child > a {
			margin-top: 0;
		}
	}
	.kss___navSub__item--3 > a {
		opacity: .7;
		padding-left: @baseSpacing*3;
		font-weight: 300;
	}
	.kss___navSub__item--active {
		> a {
			border-color: @baseActionColor;
		}
	}
	.kss___navSub__item__ref {
		display: table-cell;
		padding-right: @baseSpacing/2;
	}
	.kss___navSub__item__header {
		display: table-cell;
	}


//
// Styleguide Contentwrapper
//
.kss___siteWrapper {
	position: relative;
}
.kss___contentWrapper {
	padding: @baseIndent*4 @baseIndent*4 0;
}


//
// Styleguide Headings
//
.kss-title,
.kss___contentWrapper > h1 {
	position: relative;
	margin: 0;
	font-family: @baseFontFamily;
	font-weight: 300;
	color: @baseTextColor;
	line-height: 1.2;
}
.kss___contentWrapper > h1 {
	margin: @baseSpacing*3 0 @baseSpacing;
	font-family: @baseFontFamily;
	font-size: @baseFontSize*2;
}
.kss___contentWrapper > h2,
.kss___contentWrapper > h3 {
	margin: @baseSpacing*2 0 @baseSpacing/2;
	font-family: @baseFontFamily;
	font-size: @baseFontSize + 4;
	font-weight: 400;
	color: @baseTextColor;
}
.kss___contentWrapper > p {
	margin: 0 0 @baseSpacing;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	color: @baseTextColor;
}
.kss-depth-2 > .kss-title {
	padding: 0;
	margin: @baseSpacing*2 0 @baseSpacing/2;
	color: @baseTextColor;
	font-size: @baseFontSize*1.5;
}
.kss-depth-2 > p {
	margin: 0 0 @baseSpacing;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	color: @baseTextColor;
}
.kss-depth-3 > .kss-title {
	margin: 0;
	padding: 10px;
	border-top: 1px solid #000;
	border-radius: @baseBorderRadius @baseBorderRadius 0 0;
	font-size: @baseFontSize - 2;
	font-weight: bold;
	color: #fff;
	background: #333;
}
.kss-title__refLink {
	display: none;
	position: absolute;
	height: 100%;
	width: 30px;
	left: -30px;
	top: 0;
	text-align: center;
	color: @baseActionColor;
	transition: .2s ease color;
	&:hover {
		text-decoration: none;
		color: @baseTextColor;
	}
	.kss-title:hover & {
		display: block;
	}
	.kss-depth-3 & {
		padding-top: 11px;
	}
}


//
// Styleguide Element
//
.kss-box { // Description wrapper
	padding: 1px @baseIndent;
	background: #f1f1f1;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-family: @baseFontFamily;
	font-size: @baseFontSize - 2;
	color: @baseTextColor;
	p {
		margin: @baseSpacing 0;
	}
	&:empty { display: none; }
}
.kss-styleguideSection { // Rendered example
	background: @baseBackgroundColor;
	border-left: 1px solid @baseBorderColor;
	border-right: 1px solid @baseBorderColor;
	.kss___hideExamples & { display: none; }
}
.kss-styleguideElement { // Modifier wrapper
	position: relative;
	padding: @baseIndent;
	border-bottom: 1px solid @baseBorderColor;
}
	.kss-styleguideElement__heading {
		margin-bottom: @baseSpacing/2;
		font-family: @baseFontFamily;
		color: @baseTextColor;
		p {
			margin: @baseIndent 0 0;
		}
	}
.kss-styleguideElement__class {
	position: absolute;
	top: 0;
	right: 0;
	padding: @baseSpacing/2 @baseSpacing;
	border: 1px solid @baseBorderColor;
	border-top: none;
	font-family: monospace;
	font-size: 12px;
	font-weight: bold;
	color: #999;
	background: @lightGrey;
	border-radius: 0 0 0 @baseBorderRadius;
	transition: .2s ease all;
	.kss-styleguideElement:hover & {
		background: @baseActionColor;
		border-color: @baseActionColor;
		color: #FFF;
	}
}
.kss-markup {  // Markup wrapper
	padding-bottom: @baseSpacing*3;
}



//
// Styleguide Footer
//
.kss___footer {
	margin-top: @baseSpacing*4;
	padding: 26px @baseIndent;
	background: @baseBackgroundColor;
	border-top: 1px solid @baseBorderColor;
	font-size: 11.5px;
	font-family: @baseFontFamily;
	color: @baseTextColor;
}


//
// Styleguide Example/Additional element or modifier styles
//
.kss___exampleGridItem {
	background: #ECECEC;
	min-height: 32px;
	font-size: 12px;
	margin-bottom: 5px;
	line-height: 1;
	padding: 10px;
}




/* Pretty printing styles. Used with prettify.js.
 *
 * This version is slight modified based on the original version.
 *
 * Name:	Stanley Ng
 * Email: 	stanleyhlng@googlegroups.com
 *
 * Reference:
 * http://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css
 */
.pln{color:#48484C}.str{color:#D14}.kwd{color:#1E347B}.com{color:#93A1A1}.typ{color:teal}.lit{color:#195F91}.clo,.opn,.pun{color:#93A1A1}.tag{color:#008}.atn{color:teal}.atv{color:#D14}.dec,.var{color:teal}.fun{color:#DC322F}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background-color: #F7F7F9;
  padding: @baseIndent 0;
  font-size: 12px;
  border: 1px solid #E1E1E8;
  border-top: 0;
}

pre.prettyprint.linenums {
  box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #1E347B;
  margin: 0 0 0 10px; }

ol.linenums li {
  color: #BEBEC5;
  line-height: 18px;
  padding-left: 12px;
  text-shadow: 0 1px 0 #FFFFFF; }

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: normal; }


@keyframes menuSlideIn {
  from {
  	transform: translateX(-@navWidth);
  }
  to {
  	transform: translateX(0);
  }
}
@keyframes contentSlideOut {
  from {
  	transform: translateX(0);
  }
  to {
  	transform: translateX(@navWidth);
  }
}

@keyframes menuSlideOut {
  from {
  	transform: translateX(0);
  }
  to {
  	transform: translateX(-@navWidth);
  }
}
@keyframes contentSlideIn {
  from {
  	transform: translateX(@navWidth);
  }
  to {
  	transform: translateX(0);
  }
}

.kss___navWrapper {
	animation: menuSlideOut .3s both;
}
.kss___siteWrapper {
	animation: contentSlideIn .3s both;
}
.kss___navIsOpen {
	.kss___navWrapper {
		animation: menuSlideIn .3s both;
	}
	.kss___siteWrapper {
		animation: contentSlideOut .3s both;
	}
}
