@charset "UTF-8";
/*
 * Compiled on: Wed Jul 03 00:18:28 +0200 2013
 * Base stylesheet for pkg.homepage
 *
 * @package pkg_name
 * @path /main.scss
 * @author pkg.author.name <pkg.author.email>


 */
                                   /*
* Declarations wich should be put at the top of the document e.g.
* @font-face declarations and CSS viewports
*
* @package pkg_name
* @path generic/_head.scss
*/
/* =============================================================================
$ Border-Box
================================================================================ */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

                                   /*
* A cut-down version of normalize.css
*
* @package pkg_name
* @path generic/_normalize.scss
* @author Nicolas Gallagher
* @link http://necolas.github.com/normalize.css/
*/
/* =============================================================================
$ Normalize HTML5 display definitions
================================================================================ */
/** Corrects `block` display not defined in IE6/7/8/9 & FF3. */
article, aside, details, figcaption, figure, main, footer, header, hgroup, nav, section, summary { display: block; }

/** Corrects `inline-block` display not defined in IE 8/9. */
audio, canvas, video { display: inline-block; }

/** Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4. Known issue: no IE6 support. */
[hidden] { display: none; }

/* ============================================================================= Normalize Base
================================================================================ */
/** 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using `em` units. 2. Prevents iOS text size adjust after orientation change, without disabling user zoom. 3. Forces vertical scrollbar to prevent jumpy page */
html { -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ overflow-y: scroll; /* 3 */ }

/* ============================================================================= Normalize Forms
================================================================================ */
/** 1. Corrects font size not being inherited in all browsers. 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome. 3. Improves appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ }

/** Addresses FF3/4 setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. Correct `select` style inheritance in Firefox 4+ and Opera. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Corrects inability to style clickable `input` types in iOS. 3. Improves usability and consistency of cursor style between image-type `input` and others. 4. Removes inner spacing in IE7 without affecting normal text inputs. Known issue: inner spacing remains in IE6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** 1. Addresses box sizing set to content-box in IE8/9. 2. Removes excess padding in IE8/9. 3. Removes excess padding in IE7. Known issue: excess padding remains in IE6. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** 1. Addresses `appearance` set to `searchfield` in S5, Chrome. 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ }

/** Removes inner padding and search cancel button in S5, Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Removes inner padding and border in FF3+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

                                   /*
* Sizes wich are used in conjunction with other objects and
* abstractions like the grid system, from
* inuit.css <https://github.com/csswizardry/inuit.css/>
*
* @package pkg_name
* @path generic/_widths.scss
* @license Apache License, Version 2.0.
*/
/* =============================================================================
$ Widths
================================================================================ */
/**
* Whole
*/
.one-whole { width: 100%; }

/**
* Halves
*/
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths { width: 50%; }

/**
* Thirds
*/
.one-third, .two-sixths, .four-twelfths { width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths { width: 66.666%; }

/**
* Quarters
*/
.one-quarter, .two-eighths, .three-twelfths { width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths { width: 75%; }

/**
* Fifths
*/
.one-fifth, .two-tenths { width: 20%; }

.two-fifths, .four-tenths { width: 40%; }

.three-fifths, .six-tenths { width: 60%; }

.four-fifths, .eight-tenths { width: 80%; }

/**
* Sixths
*/
.one-sixth, .two-twelfths { width: 16.666%; }

.five-sixths, .ten-twelfths { width: 83.333%; }

/**
* Eighths
*/
.one-eighth { width: 12.5%; }

.three-eighths { width: 37.5%; }

.five-eighths { width: 62.5%; }

.seven-eighths { width: 87.5%; }

/**
* Tenths
*/
.one-tenth { width: 10%; }

.three-tenths { width: 30%; }

.seven-tenths { width: 70%; }

.nine-tenths { width: 90%; }

/**
* Twelfths
*/
.one-twelfth { width: 8.333%; }

.five-twelfths { width: 41.666%; }

.seven-twelfths { width: 58.333%; }

.eleven-twelfths { width: 91.666%; }

                                   /*
* Styling for typo3 related classes
*
* @package pkg_name
* @path generic/_t3-general.scss
*/
/* =============================================================================
$ CSC-Frames
================================================================================ */
.csc-frame-rulerBefore { border-top: 1px solid #cccccc; }

.csc-frame-rulerAfter { border-bottom: 1px solid #cccccc; }

.csc-frame-indent { padding: 0 10%; }

.csc-frame-indent3366 { padding-left: 33.333%; }

.csc-frame-indent6633 { padding-right: 33.333%; }

/* =============================================================================
$ CSC-Tables
================================================================================ */
                                   /*
* Gernerated classes for brand related styling
*
* @package pkg_name
* @path generic/_brand.scss
*/
/* =============================================================================
$ Brand styles
================================================================================ */
.brand { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #0097d7; }

.brand-color { color: #0097d7; }

.brand-face { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

                                   /*
* High-level wrapper elements
*
* @package pkg_name
* @path base/_base.scss
*/
/* =============================================================================
$ High level wrapper and elements
================================================================================ */
body { /** Remove default margin. */ margin: 0; font: 400 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: left; color: #3c474b; background: white; }

.site-wrapper { margin-left: auto; margin-right: auto; width: 60em; position: relative; }

                                   /*
* Basic styling for headings and sub-headings
*
* @package pkg_name
* @path base/_headings.scss
*/
/* =============================================================================
$ Headings
================================================================================ */
h1, h2, h3, h4, h5, h6 { font-weight: 700; color: black; /** Optimized kerning for large font sizes use this only on large font-sizes (f.e. headings) to avoid performance issues */ text-rendering: optimizeLegibility; }

h1, .h1 { font-size: 36px; font-size: 2.25rem; line-height: 1.33333; }

h2, .h2 { font-size: 30px; font-size: 1.875rem; line-height: 1.6; }

h3, .h3 { font-size: 24px; font-size: 1.5rem; line-height: 1; }

h4, .h4 { font-size: 20px; font-size: 1.25rem; line-height: 1.2; }

h5, .h5 { font-size: 16px; font-size: 1rem; line-height: 1.5; }

h6, .h6 { font-size: 14px; font-size: 0.875rem; line-height: 1.71429; }

/* =============================================================================
$ Sub-Headings
================================================================================ */
hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 { margin-top: 0; }
hgroup .csc-firstHeader { margin-bottom: 0; }

                                   /*
* Basic styling for all typographic related elements e.g.
* <b>, <sup>, <i>
*
* @package pkg_name
* @path base/_typography.scss
*/
/* =============================================================================
$ Typography Elements Contents: 1: Addresses style set to `bolder` in FF3+, S4/5, Chrome. 2: Addresses styling not present in IE7/8/9, S5, Chrome. 3: Addresses styling not present in IE6/7/8/9. 4: Addresses styling not present in S5, Chrome. 5: Prevents `sub` and `sup` affecting `line-height` in all browsers. gist.github.com/413930
================================================================================ */
b, strong { font-weight: 700; /* 1 */ }

small { font-size: 80%; }

abbr[title] { /* 2 */ border-bottom: 1px dotted; cursor: help; }

mark { /* 3 */ background: #0097d7; color: white; }

dfn { font-style: italic; /* 4 */ }

sub, sup { /* 5 */ font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* =============================================================================
$ Code & pre-formatted text elements
================================================================================ */
code, kbd, pre, samp { /** Corrects font family set oddly in Safari 5 and Chrome. */ font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 1em; }

pre { /** Improves readability of pre-formatted text in all browsers. */ white-space: pre-wrap; }

/* =============================================================================
$ Quotes
================================================================================ */
q { /** Sets consistent quote types. */ quotes: "\201C" "\201D" "\2018" "\2019"; }

/* =============================================================================
$ Seperators
================================================================================ */
hr { /**
* Address differences between Firefox and other browsers.
*/ -moz-box-sizing: content-box; box-sizing: content-box; display: block; height: 0; border: 0; border-top: 1px solid #cccccc; padding: 0; }

/* =============================================================================
$ Text-Selection
================================================================================ */
::-moz-selection, ::selection { background: #0097d7; color: white; text-shadow: none; }

/* =============================================================================
$ Typographic Helper Classes
================================================================================ */
/* ======================= Basic helpers ======================= */
.align-center { text-align: center; }

.align-right { text-align: right; }

.align-left { text-align: left; }

.intend { padding: 0 1.5em; }

/* ====================== CSS3 Word-breaker ====================== */
.text-break, .dl--horizontal dt { /** Break strings when their length exceeds the width of their container. */ word-break: break-all; word-break: break-word; word-wrap: break-word; -webkit-hyphens: manual; -moz-hyphens: manual; -ms-hyphens: manual; -o-hyphens: manual; hyphens: manual; }

/* ======================= Margin-reset ======================== */
p, pre, menu, ol, ul, dl { margin-top: 0; }

/* ======================== Top margins ======================== */
/* Basic spacing */
blockquote, hr, .basic_spacing-top { margin-top: 24px; margin-top: 1.5rem; }

/* Half spacing */
.half_spacing-top { margin-top: 12px; margin-top: 0.75rem; }

/* ====================== Bottom margins ======================= */
/* Basic spacing */
p, pre, blockquote, hr, menu, ol, ul, dl, iframe, video, audio, .table, .contenttable-1, .contenttable-2, .contenttable-3, form, legend, .basic_spacing-bottom { margin-bottom: 24px; margin-bottom: 1.5rem; }

/* Half spacing */
.half_spacing-bottom { margin-bottom: 12px; margin-bottom: 0.75rem; }

                                   /*
* Basic styling for anchor tags
*
* @package pkg_name
* @path base/_links.scss
*/
/* =============================================================================
$ Links
================================================================================ */
a { color: #0097d7; text-decoration: none; /** Remove the gray background color from active links in IE 10. */ background: transparent; }
a:hover, a:active, a:focus { text-decoration: underline; }
a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -1px; }
a:active, a:hover { /** Improves readability when focused and also mouse hovered in all browsers. */ outline: 0; }
p a { /** Increasing the Clickable Area of Inline Links inside a paragraph */ margin: -.33em; padding: .33em; position: relative; }

                                   /*
* Basic styling for lists and definition elements
*
* @package pkg_name
* @path base/_lists.scss
*/
/* =============================================================================
$ Lists
================================================================================ */
menu, ol, ul { padding: 0 0 0 2.5em; }

li > ul, li > ol { 	/** Remove vertical spacing from nested lists */ margin-bottom: 0; }

/* ======================== Reset list ========================= */
.nav, .reset-list { /** Resets the standard list styles of a <ul> or <ol> */ list-style: none; margin-bottom: 0; padding-left: 0; }

/* =============================================================================
$ Definitions
================================================================================ */
/* =============================================================================
$ Horizontal definition abstraction
================================================================================ Display a definition list in a horizontal order e.g. 
<dl class="dl--horizontal"> <dt>Description lists</dt> <dd>A description list is perfect for defining terms.</dd> <dt>Euismod</dt> <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd> <dd>Donec id elit non mi porta gravida at eget metus.</dd> <dt>Malesuada porta</dt> <dd>Etiam porta sem malesuada magna mollis euismod.</dd> <dt>Felis euismod semper eget lacinia</dt> <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
</dl>
================================================================================ */
.dl--horizontal dt { float: left; width: 19%; overflow: hidden; clear: left; text-align: right; }
.dl--horizontal dd { margin-left: 21%; }

                                   /*
* Basic styling for media elements e.g.
* <img>, <video>, <svg>, <augio>
*
* @package pkg_name
* @path base/_media.scss
*/
/* =============================================================================
$ Attachements & Images Contents: 1: Make Images & Attachements responsive 2: Styling the alt="" Text on images http://csswizardry.com/2011/06/styling-alt-text-on-images/ 3: Removes border when inside `a` element in IE6/7/8/9, FF3. 4: Remove the gap between images and the bottom of their containers: h5bp.com/i/440 5: Improves image quality when scaled in IE7. code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ 6: Decrease font-size on figcaption elements
================================================================================ */
embed, iframe, object, img { /* 1 */ max-width: 100%; }

img { font-style: italic; /* 2 */ border: 0; /* 3 */ vertical-align: middle; /* 4 */ }
img[height] { /* 1 */ height: auto; }

figure { /** Addresses margin not present in IE6/7/8/9, S5, O11. */ margin: 0; }

figcaption { /* 6 */ font-size: 14px; font-size: 0.875rem; }

/* =============================================================================
$ Video
================================================================================ */
/* =============================================================================
$ Audio
================================================================================ */
audio { min-width: 65%; }
audio:not([controls]) { /** Prevents modern browsers from displaying `audio` without controls. */ display: none; /** Remove excess height in iOS5 devices. */ height: 0; }

/* =============================================================================
$ SVG
================================================================================ */
svg:not(:root) { /** Corrects overflow displayed oddly in IE9. */ overflow: hidden; }

                                   /*
* Basic styling and extended classes for tables
*
* @package pkg_name
* @path base/_tables.scss
*/
/* =============================================================================
$ Tables
================================================================================ */
table { max-width: 100%; border-collapse: collapse; border-spacing: 0; }

th { text-align: left; vertical-align: bottom; }

td { vertical-align: top; }

.table, .contenttable-1, .contenttable-2, .contenttable-3 { width: 100%; margin-top: 0; }
.table td, .contenttable-1 td, .contenttable-2 td, .contenttable-3 td, .table th, .contenttable-1 th, .contenttable-2 th, .contenttable-3 th { padding: 0.5em; }

/* =============================================================================
$ Table bordered
================================================================================ Extends the base '.table' class to an basic bordered table e.g.  <table class="table table--bordered"> <thead> <tr> <th class="td-0">Name</th> <th>Age</th> <th>Residence</th> </tr> </thead> <tbody> <tr> <td class="td-0">Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> <tr> <td class="td-0">Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> <tr class="tr-last"> <td class="td-0">Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> </tbody> </table>
================================================================================ */
.table--bordered, .contenttable-1 { border: 1px solid #cccccc; border-collapse: separate; }
.table--bordered td, .contenttable-1 td, .table--bordered th, .contenttable-1 th { border-left: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }
.table--bordered .tr-last td, .contenttable-1 .tr-last td { border-bottom: 0; }
.table--bordered .td-0, .contenttable-1 .td-0 { border-left: 0; }

/* =============================================================================
$ Table striped
================================================================================ Extends the base '.table' class to an clean table with borders below each row e.g.  <table class="table table--striped"> <thead> <tr> <th>Name</th> <th>Age</th> <th>Residence</th> </tr> </thead> <tbody> <tr> <td>Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> <tr> <td>Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> <tr> <td>Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> </tbody> </table>
================================================================================ */
.table--striped td, .contenttable-2 td, .contenttable-3 td, .table--striped th, .contenttable-2 th, .contenttable-3 th { border-bottom: 1px solid #cccccc; }
.table--striped th, .contenttable-2 th, .contenttable-3 th { padding-top: 0; }

/* =============================================================================
$ Table condensed
================================================================================ Extends the base '.table' class to an condensed table e.g.  <table class="table table--condensed"> <thead> <tr> <th>Name</th> <th>Age</th> <th>Residence</th> </tr> </thead> <tbody> <tr> <td>Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> <tr> <td>Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> <tr> <td>Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> </tbody> </table>
================================================================================ */
.table--condensed td, .contenttable-3 td, .table--condensed th, .contenttable-3 th { padding: 0.25em 0.5em 0.25em; }

/* =============================================================================
$ Table zebra
================================================================================ Extends the base '.table' class to an 'zebra'-styled table with odd & even changing background-colors e.g.  <table class="table table--zebra"> <thead> <tr> <th>Name</th> <th>Age</th> <th>Residence</th> </tr> </thead> <tbody> <tr class="tr-odd"> <td>Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> <tr class="tr-even"> <td>Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> <tr class="tr-odd"> <td>Max Mustermann</td> <td>20</td> <td>Berlin</td> </tr> </tbody> </table>
================================================================================ */
.table--zebra .tr-even { background: white; }
.table--zebra .tr-odd { background: #f2f2f2; }

                                   /*
* Basic styling for forms and inputs
*
* @package pkg_name
* @path base/_forms.scss
*/
/* =============================================================================
$ Text inputs, checkboxes and other form elements
================================================================================ */
/* ======================== Textinputs ========================= */
textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] { height: 24px; padding: 0 0.4em; margin-bottom: 12px; margin-bottom: 0.75rem; background: white; border: 1px solid #cccccc; border-radius: 1px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); font-size: 14px; font-size: 0.875rem; color: #475459; }

textarea { height: auto; /* Reset height since textareas have the attribute rows="" */ min-height: 72px; /* Set a min-height for textareas of 3 rows */ resize: vertical; /* So users cannot expand the textarea over its boundaries */ overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9. */ vertical-align: top; /* Improves readability and alignment in all browsers. */ }

input::-webkit-datetime-edit { /** A possible shadow-dom fix for webkit control spacing on input[type=time] */ margin-top: -.17em; margin-bottom: -.17em; }

/* ========================= Checkboxes ======================== */
input[type="checkbox"], input[type="radio"] { margin-right: .35em; cursor: pointer; }

/* =============================================================================
$ Buttons
================================================================================ */
.btn, button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; margin-bottom: 12px; margin-bottom: 0.75rem; /** Set in em's so we can change the size of the button depending on the font-size */ padding: 0.5em 0.75em; border: 0; border-radius: 1px; background: #0097d7; font-size: 0.8em; /** Normalize the font-weight accross <input>, <button> and the .btn class */ font-weight: normal; line-height: 1; color: white; }

/* =============================================================================
$ Form elements
================================================================================ */
fieldset { /** Reset border, margin, and padding to define a consistend style accross all browsers */ border: 0; margin: 0; padding: 0; }

/* ==================== Labels and Legends ===================== */
label { display: block; font-weight: 700; font-size: 14px; font-size: 0.875rem; line-height: 1.71429; }
label[for] { cursor: pointer; }

legend { display: block; width: 100%; font-size: 20px; font-size: 1.25rem; color: black; border-bottom: 1px solid #cccccc; padding: 0; }

/* =============================================================================
$ Form-Inline abstraction
================================================================================ Display a <form> and all it's content in a horizontal order e.g.  <form class="form--inline"> <label>Username: </label> <input type="text" placeholder="Username..."> <label>Password: </label> <input type="password" placeholder="Password..."> <label class="label--checkbox"> <input type="checkbox">Remember me </label> <button type="submit">Sign in</button> </form>
================================================================================ */
.form--inline label { margin-right: .3em; }
.form--inline .label--checkbox { margin-right: 1em; }
.form--inline .label--checkbox input { margin-right: .35em; }
.form--inline input { margin-right: 1em; }
.form--inline label, .form--inline button, .form--inline input, .form--inline select, .form--inline textarea { display: inline-block; margin-bottom: 0; vertical-align: middle; }

                                   /*
* Basic button structural styling from
* inuit.css <https://github.com/csswizardry/inuit.css/>
*
* @package pkg_name
* @path objects/_buttons.scss
* @license Apache License, Version 2.0.
* @link http://csswizardry.com/2011/09/the-nav-abstraction/
*/
/* =============================================================================
$ Button Object
================================================================================ Display an anchor tag as a button e.g.  <a class="btn">A Special link</a>
================================================================================ */
.btn { display: inline-block; }
.btn, .btn:hover { text-decoration: none; }

/* ================== Full width button abstraction ================= Set a button to the full-width of it's parent */
.btn--full { display: block; text-align: center; /** The following is so that this class works properly on inputs as well as anchor tags. */ padding-right: 0; padding-left: 0; width: 100%; }

                                   /*
* A modified version of the navigation object from
* inuit.css <https://github.com/csswizardry/inuit.css/>
*
* @package pkg_name
* @path objects/_navigations.scss
* @license Apache License, Version 2.0.
* @link http://csswizardry.com/2011/09/the-nav-abstraction/
*/
/* =============================================================================
$ Navigation Object
================================================================================ Throws a list into horizontal mode e.g.:  <ul class="nav"> <li><a href="">Home</a></li> <li><a href="">About</a></li> <li><a href="">Products</a></li> <li><a href="">Contact</a></li> </ul>
================================================================================ */
.nav li { display: inline-block; }
.nav a { display: block; }

/* ======================= Stacked Navigation ======================= Throws a list into vertical mode */
.nav--stacked li { display: list-item; }

/* ========================= Fit Navigation ========================= Force a nav to occupy 100% of the available width of its parent. Thanks to @pimpl for this idea! */
.nav--fit { display: table; width: 100%; }
.nav--fit > li { display: table-cell; }

                                   /*
* Gernerated- & Helper-classes for a column based grid
*
* @package pkg_name
* @path generic/_grid.scss
*/
/* =============================================================================
$ Grid Classes
================================================================================ A basic grid system wich is dependent on the border-box layout mode e.g.  <div class="gw"> <div class="gi one-third"> </div> <div class="gi one-third"> </div> <div class="gi one-third"> </div> </div>
================================================================================ */
.gw, .grid-wrapper { margin-left: -10px; margin-right: -10px; }

.gi, .grid-item { float: left; padding-left: 10px; padding-right: 10px; }

                                   /*
* Site dependent styles
*
* @package pkg_name
* @path /_styles.scss
*/
/* =============================================================================
$ High level wrapper and elements
================================================================================ */
                                   /*
* Helper Classes from the boilerplate project
*
* @package pkg_name
* @path generic/_helper.scss
* @link http://html5boilerplate.com/docs/css/#non-semantic-helper-classes
*/
/** Quick floats */
.fl-r { float: right; }

.fl-l { float: left; }

/** For image replacement */
.ir, .image-replacement { background-color: transparent; border: 0; overflow: hidden; }
.ir:before, .image-replacement:before { content: ""; display: block; width: 0; height: 150%; }

/** Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/** Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/** Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/** Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/** Contain floats: h5bp.com/q */
.cf:before, .dl--horizontal:before, .gw:before, .grid-wrapper:before, .cf:after, .dl--horizontal:after, .gw:after, .grid-wrapper:after, .clearfix:before, .clearfix:after { content: ""; display: table; }
.cf:after, .dl--horizontal:after, .gw:after, .grid-wrapper:after, .clearfix:after { clear: both; }

                                   /*
* Print styles - Inlined to avoid another HTTP connection
*
* @package pkg_name
* @path generic/_print.scss
* @link http://h5bp.com/r
*/
@media print { * { background: transparent !important; /** Black prints faster: h5bp.com/s */ color: black !important; box-shadow: none !important; text-shadow: none !important; }
  @page { margin: 0.5cm; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { /** h5bp.com/t */ display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  /** Don't show links for images, or javascript/internal links */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  .print-hidden { display: none; } }
