/*!
 * Gernerated classes for brand related styling
 *
 * @package #{$package_name()}
 * @path generic/_brand.scss
 * @author Tyll Weiß <inkdpixels@gmail.com>
 */



/* =============================================================================
$ Brand styles
================================================================================ */
.brand {
  font-family: $brandFontFamily;
  color: $brandColor;
}
.brand-color { color: $brandColor; }
.brand-face { font-family: $brandFontFamily; }

.brand-logo {
  // If you want to use the image-replacement technique,
  // replace 'false' with the image-name of your brand logo
  // e.g.:
  // @include image-replacement('brand_logo.gif', $display-mode: inline-block);
  @include image-replacement($image: $brand-logo_image, $display-mode: inline-block);
}