/*!
 * Gernerated classes for brand related styling
 *
 * @package #{$package_name()}
 * @path generic/_brand.scss
 */



/* =============================================================================
$ Brand styles
================================================================================ */
.brand {
  font-family: $brand-font-family;
  color: $brand-color;
}
.brand-color { color: $brand-color; }
.brand-face { font-family: $brand-font-family; }
.brand-logo {
  @include image-replacement($image: $brand-logo_image, $display-mode: inline-block);
}