/*!
 * Gernerated- & Helper-classes for a column based grid
 *
 * @package #{$package_name()}
 * @path generic/_grid.scss
 * @author Tyll Weiß <t.weiss@exinit.de>
 */


// =============================================================================
// $ Variables
// =============================================================================
$columWidth:      ($layoutWidth + $columnGutter) / $totalColumns - $columnGutter !default;
$grid-direction:  $start;


/* =============================================================================
$ Grid Classes
================================================================================
 *
 * A basic grid system wich is dependent on the border-box layout mode
 * e.g.
 *
  <div class="gw">
    <div class="gi gi--three"> </div>
    <div class="gi gi--six"> </div>
    <div class="gi gi--three"> </div>
  </div>
================================================================================ */
/* ========================= Grid helper ========================= */
.gw,
.grid-wrapper {
  @extend .cf;
  margin-left: -($columnGutter / 2) +px;
  margin-right: -($columnGutter / 2) +px;
}
.gi,
.grid-item {
  // Base styles for .gi--# classes
  float: $grid-direction;
  padding-left: ($columnGutter / 2) +px;
  padding-right: ($columnGutter / 2) +px;
}
// Layout modes and helper classes
.grid-item--centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* ========================== Grid widths ======================== */
@include grid($prefix: 'gi--');

@if ($includeOffsetClasses == true) {
  /* ====================== Grid offset helpers ==================== */
  @include grid($prefix: 'offset-by-', $property: 'margin-#{$start}');
}