/*!
 * Declarations wich should be put at the top of the document e.g.
 * @font-face declarations and CSS viewports
 *
 * @package #{$package_name()}
 * @path generic/_head.scss
 */


// Disabled until the WP8 CSS Viewport bug is fixed.
// http://mattstow.com/responsive-design-in-ie10-on-windows-phone-8.html
// @if $responsive {
//   /* =============================================================================
//   $ CSS Viewport
//   ================================================================================ */
//   @include viewport($width: device-width, $zoom: 1);
// }



/* =============================================================================
$ Border-Box
================================================================================ */
*, *:before, *:after {
  @include box-sizing(border-box);
  @if $oldIE {
    /**
     * Cross browser Border-box
     *
     * Includes boxsizing.htc behavior for IE7 and below
     * The URL has to be relative to the HTML Doc
     * https://github.com/Schepp/box-sizing-polyfill
     */
    *behavior: url('#{$template-path}Ressource/Public/boxsizing.htc');
  }
}