/*!
 * Print styles - Inlined to avoid another HTTP connection
 *
 * @package #{$package_name()}
 * @path generic/_print.scss
 * @author Tyll Weiß <t.weiss@exinit.de>
 * @link http://h5bp.com/r
 */


@media print {
  * {
    background: transparent !important;
    color: black !important;  // Black prints faster: h5bp.com/s
    box-shadow:none !important;
    text-shadow: none !important;
  }
  @page {
    margin: 0.5cm;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {  // h5bp.com/t
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {  // Don't show links for images, or javascript/internal links
    content: "";
  }
  %non-print,
  .print-hidden {
    display: none;
    visibility: hidden;
  }
}
