/*!
 * Shared styles(%placeholders) to reduce duplicate code
 *
 * @package #{$package_name()}
 * @path generic/_shared.scss
 * @author Tyll Weiß <t.weiss@exinit.de>
 * @link http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#placeholder_selectors_
 */


%reset-list {
/* ========================== Reset list ========================= */
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

%inline-block {
/* ================== Cross browser inline-block ================= */
  display: inline-block;
  @if $oldIE == true {
    *display: inline;
    *zoom: 1;
  }
}

%border-box {
/* ================== Cross browser Border-box =================
 * Includes boxsizing.htc behavior for IE7 and below
 * https://github.com/Schepp/box-sizing-polyfill
 */
  @include box-sizing(border-box);
  @if $oldIE == true {
    /* URL has to be relative to the HTML Doc */
    *behavior: url('#{$templatePath}Ressource/Public/boxsizing.htc');
  }
}

%replace {
/* ========================= Text Replace ======================== */
  font: 0/0 a;
  text-shadow: none;
}

%hyphens {
/* ====================== CSS3 Word-breaker ====================== */
  -ms-word-break: break-all;
      word-break: break-all;
  @include hyphens(auto);
}