/*!
 * Shared styles(%placeholders) to reduce duplicate code
 *
 * @package #{$package_name()}
 * @path generic/_shared.scss
 * @author Tyll Weiß <t.weiss@exinit.de>
 * @link http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#placeholder_selectors_
 */


%reset-list {
/* ========================== Reset list =========================
 * Resets the standard list styles of a <ul> or <ol>
 */
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

%hyphens {
/* ====================== CSS3 Word-breaker ====================== */
  -ms-word-break: break-all;
      word-break: break-all;
  @include hyphens(auto);
}