/*!
 * Styling for typo3 related classes
 *
 * @package #{$package_name()}
 * @path generic/_t3-general.scss
 * @author Tyll Weiß <inkdpixels@gmail.com>
 */


/* =============================================================================
$ CSC-Frames
================================================================================ */
.csc-frame-rulerBefore { border-top: 1px $basicBorderStyle $basicBorderColor; }
.csc-frame-rulerAfter { border-bottom: 1px $basicBorderStyle $basicBorderColor; }

.csc-frame-indent { padding: 0 10%; }
.csc-frame-indent3366 { padding-left: 33.333%; }
.csc-frame-indent6633 { padding-right: 33.333%; }