/*
Typographic Helper Classes

.align-center - Centers the text.
.align-right - Aligns the text on it's right boundary.
.align-left - Aligns the text on it's left boundary.
.intend - Intends the element.
.text-break - Break strings when their length exceeds the width of their container.
.basic_spacing-top - Adds a basic typographic margin on the top.
.basic_spacing-bottom - Adds a basic typographic margin on the bottom.
.half_spacing-top - Adds a half sized typographic margin on the top.
.half_spacing-bottom - Adds a half sized typographic margin on the bottom.


Markup:
<p class="{$modifiers}">I am an paragraph.</p>

Styleguide 3.2
*/
.align-center { text-align: center; }
.align-right  { text-align: right; }
.align-left   { text-align: left; }
.intend { padding: 0 1.5em; }

%text-break,
.text-break {
  word-wrap: break-word;
  hyphens: auto;
}

%reset-margin-top { margin-top: 0; }

%margin-top,
.basic_spacing-top {
  @include rem(margin-top, $basic-spacing);
}

%half-margin-top,
.half_spacing-top {
  @include rem(margin-top, $half-spacing);
}

%margin-bottom,
.basic_spacing-bottom {
  @include rem(margin-bottom, $basic-spacing);
}

%half-margin-bottom,
.half_spacing-bottom {
  @include rem(margin-bottom, $half-spacing);
}
