/* ==========================================================
 * base.scss
 *
 * Basic styling for this site (f.e. Header and Footer)
 * DOCS:
 * ========================================================== */


@if $isResponsive == 1 {
/* =============================================================================
$ RWD Viewport rules
DOCS: http://dev.w3.org/csswg/css-device-adapt/
================================================================================ */
@-webkit-viewport { width: device-width; }
   @-moz-viewport { width: device-width; }
    @-ms-viewport { width: device-width; }
     @-o-viewport { width: device-width; }
        @viewport { width: device-width; }
}


/* =============================================================================
$ Site-wrapper
================================================================================ */
.wrapper {
  margin: 0 auto;
  width: $layoutWidth;
  position: relative;
}
.site-header {
  height: 100px; // A height should be set

  @extend %non-print; // Will be hidden on print
  .wrapper { }
}
.site-content {

  .wrapper { }
}
.site-footer {

  @extend %non-print; // Will be hidden on print
  .wrapper { }
}


/* =============================================================================
$ Logos
================================================================================ */
.siteLogo {
  display: block;
  @include img-wh('logo.png');
  background: image-url('logo.png');

  .site-header & {
    position: absolute;
    top: 10px;
    left: ($columnGutter / 2) +px;
  }
  .site-footer & { }
}


/* =============================================================================
$ Chromeframe
================================================================================ */
.chromeframe {
  display: block;
  height: 41px;
  border-bottom: 1px $basicBorderStyle #e7db9c;
  background: #faf6e8;
  font-size: 12px;
  font-size: rs(12, $unit: rem);
  line-height: 41px;
  color: darken(#faf6e8, 60%);
  text-align: center;
  a { border-bottom: 1px dotted; }
  @extend %non-print; // Will be hidden on print
}
