// ==========================================================
/* ยง /base/base.scss */
//
// Basic styling for this site (f.e. Header and Footer)
// DOCS:
// ==========================================================


/* =============================================================================
$ High level wrapper and elements
================================================================================ */
body {
  /* Addresses margins handled incorrectly in IE6/7. */
  margin: 0;

  font: $baseFontWeight #{$baseFontSize/16*100}%/$basicSpacing $baseFontFamily;
  text-align: $start;
  color: $baseTextColor;
  background: $bodyBackground;
}
.wrapper {
  margin: 0 auto;
  width: $layoutWidth;
  position: relative;
}
.site-header {
  height: 100px; // A height should be set

  @extend %non-print; // Will be hidden on print
  .wrapper { }
}
.site-content {

  .wrapper { }
}
.site-footer {

  @extend %non-print; // Will be hidden on print
  .wrapper { }
}


/* =============================================================================
$ Logos
================================================================================ */
.siteLogo {
  display: block;
  @include img-wh('logo.png');
  background: image-url('logo.png');

  .site-header & { }
  .site-footer & { }
}


/* =============================================================================
$ Chromeframe
================================================================================ */
.chromeframe {
  display: block;
  height: 3.5em;
  border-bottom: 1px $basicBorderStyle #e7db9c;
  background: #faf6e8;

  font-size: 12px;
  line-height: 3.5em;
  text-align: center;
  color: darken(#faf6e8, 60%);

  @extend %non-print; // Will be hidden on print
  a { border-bottom: 1px dotted; }
}
