// ==========================================================
/* ยง /base/forms.scss */
//
// Basic styling for forms and inputs
// DOCS:
// ==========================================================


/* =============================================================================
$ General styling of Input Fields
================================================================================ */
label {
  display: block;
  font-weight: $bold;
  @include font-size(14);
  &[for] {
    cursor: pointer;
  }
}

/* ====================== Base input styles ====================== */
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  border: 1px solid $basicBorderColor;
  @include font-size(14);
  color: lighten($baseTextColor, 5%);
  padding: 0.35em 0.5em;
}

/* ======================== Textinputs ========================= */
textarea {
  min-height: 70px;

  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9. */
  vertical-align: top; /* Improves readability and alignment in all browsers. */
}

/* ========================= Checkboxes ======================== */
input[type="checkbox"],
input[type="radio"] {
  margin-right: .35em;
  cursor: pointer;
}

/* ========================== Buttons ========================== */
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  padding: 0.5em; // Set in em's so we can change the size of the button depending on the font-size

  border: 0;
  background: $cd-primary;

  font-size: .8em;
  line-height: 1;
  color: color-adjust($cd-primary, 100%);
}
.btn:link {
  color: color-adjust($cd-primary, 100%);
  &:hover {
    /* hover reset for the <a href="" class="btn"> element */
    text-decoration: none;
    color: color-adjust($cd-primary, 100%);
  }
}


/* =============================================================================
$ General styling of Form Fields
================================================================================ */
fieldset {
  /* Define consistent border, margin, and padding. */
  border: 1px $basicBorderStyle $basicBorderColor;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
form {
  @if $oldIE == true {
    /* Corrects margin displayed oddly in IE6/7. */
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  @extend %sass-margin-bottom;
  ol,
  ul { @extend %reset-list; }
}
legend {
  padding: 0;
  /* Corrects color not being inherited in IE6/7/8/9. */
  border: 0;
  @if $oldIE == true {
    /* Corrects text not wrapping in FF3. */
    white-space: normal;
    /* Corrects alignment displayed oddly in IE6/7. */
    *margin-left: -7px;
  }
}


/* =============================================================================
$ Secific forms
================================================================================ */
/* ========================= Searchform ======================== */
/*form*/.searchform {
  label { }
  input { }
  input[type="search"],
  input[type="text"] {
    /* type="text" is used as a fallback for IE7 because it doesn't recognize type="search" */

  }
  input[type="submit"] { }
}
