/* ==========================================================
 * forms.scss
 *
 * Basic styling for forms and inputs
 * DOCS:
 * ========================================================== */


/* =============================================================================
$ General styling of Input Fields
================================================================================ */
/* ====================== Base input styles ====================== */
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  border: 1px solid $basicBorderColor;
  font-size: 14px;
  font-size: rs(14, $unit: rem);
  color: lighten( $baseTextColor, 5% );

  &:hover { border-color: darken($basicBorderColor, 20%); }
}

/* ======================== Textinputs ========================= */
textarea {
  min-height: 70px;

  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9. */
  vertical-align: top; /* Improves readability and alignment in all browsers. */
}

/* ========================= Checkboxes ======================== */
input[type="checkbox"],
input[type="radio"] {
  margin-right: 4px;
}

/* ========================== Buttons ========================== */
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  padding: 0.5em; // Set in em's so we can change the size of the button depending on the font-size

  border: 0;
  background: $cd-primary;

  font-size: .8em;
  line-height: 1;
  color: color-adjust($cd-primary, 100%);
}


/* =============================================================================
$ General styling of Form Fields
================================================================================ */
fieldset {
  /* Define consistent border, margin, and padding. */
  border: 1px $basicBorderStyle $basicBorderColor;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
form {
  @if $isOldIE == 1 {
    /* Corrects margin displayed oddly in IE6/7. */
    margin: 0;
  }
  ol,
  ul { @extend %reset-list; }
}
legend {
  padding: 0;
  /* Corrects color not being inherited in IE6/7/8/9. */
  border: 0;
  @if $isOldIE == 1 {
    /* Corrects text not wrapping in FF3. */
    white-space: normal;
    /* Corrects alignment displayed oddly in IE6/7. */
    *margin-left: -7px;
  }
}
label {
  display: block;
  font-weight: $bold;
  @include font-size(14);
  &[for] {
    cursor: pointer;
  }
}


/* =============================================================================
$ Secific forms
================================================================================ */
/* ========================= Searchform ======================== */
/*form*/.searchform {
  label { }
  input { }
  input[type="search"] { }
  input[type="submit"] { }
}
