// ==========================================================
/* ยง /base/headings.scss */
//
// Styling for Headings and Sub-Headings
// DOCS:
// ==========================================================


/* =============================================================================
$ Headings
================================================================================ */
h1, h2, h3,
h4, h5, h6 {
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  color: $headingsColor;
  /*
   * Optimized kerning for large font sizes
   * use this only on large font-sizes (f.e. headings) to avoid performance issues
   */
  text-rendering: optimizeLegibility;
}
h1, .h1 {
  @include font-size(36);
}
h2, .h2 {
  @include font-size(30);
}
h3, .h3 {
  @include font-size(24);
}
h4, .h4 {
  @include font-size(20);
}
h5, .h5 {
  @include font-size(16);
  margin-top: 0;
  margin-bottom: 0;
}
h6, .h6 {
  @include font-size(14);
  margin-top: 0;
  margin-bottom: 0;
}


/* =============================================================================
$ Sub-Headings
================================================================================ */
hgroup {
  h1, h2, h3,
  h4, h5, h6 { margin-top: 0; }
  .csc-firstHeader { margin-bottom: 0; }
}