// ==========================================================
/* ยง /base/links.scss */
//
// Basic styling for links
// DOCS:
// ==========================================================


/* =============================================================================
$ Links
================================================================================ */
a:link {
  color: $linkColor;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: $linkColorHover;
  }
  &:focus {
    /* Addresses `outline` inconsistency between Chrome and other browsers. */
    outline: thin dotted;
  }
  &:active,
  &:hover {
    /* Improves readability when focused and also mouse hovered in all browsers. */
    outline: 0;
  }
  p & {
    /* Increasing the Clickable Area of Inline Links inside a paragraph */
    margin: -.33em;
    padding: .33em;
    position: relative;
  }
}