// ==========================================================
/* § lists.scss */
//
// Basic styling for typography elements
// DOCS:
// ==========================================================


/* =============================================================================
$ Lists
================================================================================ */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

li > ul,
li > ol {
	/* Remove vertical spacing from nested lists */
  margin-bottom:0;
}

@if $oldIE == true {
  dd {
    /* Addresses margins set differently in IE6/7. */
    margin: 0 0 0 40px;
  }
}