// ==========================================================
/* ยง /base/media.scss */
//
// Basic styling for media elements e.g. Images, Video & Audio
// DOCS:
// ==========================================================


/* =============================================================================
$ Attachements & Images
  Contents: 1: Make Images & Attachements responsive
            2: Decrease font-size on figcaption elements
            3: Styling the alt="" Text on images
               http://csswizardry.com/2011/06/styling-alt-text-on-images/
            4: Removes border when inside `a` element in IE6/7/8/9, FF3.
            5: Improves image quality when scaled in IE7.
               code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
================================================================================ */
embed,
iframe,
object,
img { /* 1 */
  max-width: 100%;
}
img[height] { /* 1 */
  height: auto;
}
figure {
  /* Addresses margin not present in IE6/7/8/9, S5, O11. */
  margin: 0;
  > img {
    display: block;
  }
}
figcaption { /* 2 */
  font-size: ($baseFontSize - 2) +px;
  font-size: rs(($baseFontSize - 2), $unit: rem);
}
img {
  font-style: italic; /* 3 */
  border: 0; /* 4 */
  @if $oldIE == true { -ms-interpolation-mode: bicubic; /* 5 */ }
}


/* =============================================================================
$ Video
================================================================================ */
video {
  @extend %non-print; // Will be hidden on print

  &::-webkit-media-controls-panel {
    background-color: rgba(0, 0, 0, .6);
    -webkit-transition: all .6s;
            transition: all .6s;
    &:hover {
      background-color: rgba(0, 0, 0, .8);
    }
  }
  &::-webkit-media-controls-play-button:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  &::-webkit-media-controls-timeline {
    border-radius: 3px;
  }
}


/* =============================================================================
$ Audio
================================================================================ */
audio {
  min-width: 65%;

  @extend %non-print; // Will be hidden on print
  &::-webkit-media-controls-play-button:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  &:not([controls]) {
    /* Prevents modern browsers from displaying `audio` without controls. */
    display: none;
    /* Remove excess height in iOS5 devices. */
    height: 0;
  }
}


/* =============================================================================
$ SVG
================================================================================ */
svg {
  &:not(:root) {
    /* Corrects overflow displayed oddly in IE9. */
    overflow: hidden;
  }
}