/* ==========================================================
 * typography.scss
 *
 * Basic styling for typography elements
 * DOCS:
 * ========================================================== */


/* =============================================================================
$ Links and other stuff
================================================================================ */
a {
  color: $linkColor;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: $linkColorHover;
  }
}

::-moz-selection,
::selection {
  background: $cd-primary;
  color: color-adjust($cd-primary, 100%);
  text-shadow: none;
}


/* =============================================================================
$ Headings
================================================================================ */
h1, h2, h3,
h4, h5, h6 {
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  color: $headingsColor;
  text-rendering: optimizeLegibility; // Optimized kerning for large font sizes
  small {
    font-size: 75%;
    color: lighten($headingsColor, 20%);
    line-height: 0;
  }
}
h1, .h1 {
  @include font-size(36);
}
h2, .h2 {
  @include font-size(30);
}
h3, .h3 {
  @include font-size(24);
}
h4, .h4 {
  @include font-size(20);
}
h5, .h5 {
  @include font-size(16);
  margin: 0;
}
h6, .h6 {
  @include font-size(14);
  margin: 0;
}

hgroup {
  h1, h2, h3,
  h4, h5, h6 { margin-top: 0; }
  .csc-firstHeader { margin-bottom: 0; }
}


/* =============================================================================
$ Margins
================================================================================ */
p,
pre,
ol,
ul,
dl,
figure,
menu { margin: 0 0 $basicSpacing +em; }


/* =============================================================================
$ Paragraphs
================================================================================ */
p a { /* Increasing the Clickable Area of Inline Links */
  margin: -.33em;
  padding: .33em;
  position: relative;
}


/* =============================================================================
$ Lists
================================================================================ */
li > ul,
li > ol { /* Remove vertical spacing from nested lists */
  margin-bottom:0;
}


/* =============================================================================
$ HTML-Elements
================================================================================ */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px $basicBorderStyle $basicBorderColor;
  margin: $basicSpacing +em 0 $basicSpacing +em;
  padding: 0;
}
