//if lt IE 7
  p(class="chromeframe") Ihr Browser ist <em>veraltet!</em> <a href="http://browsehappy.com/">Updaten Sie ihren Browser</a> oder <a href="http://www.google.com/chromeframe/?redirect=true">installieren Sie die fehlende Erweiterung</a> um alle Funktionen zu genießen.</p>
//<![endif]
header(class="site-header", role="banner")
  div(class="wrapper")
    a(class="siteLogo ir", href="") Logoname
    nav(class="nav site-nav", role="navigation")
      ul
        li(class="active")
          a(href="") Lorem
        li
          a(href="") ipsum
        li
          a(href="") dolor
        li
          a(href="") sit
        li
          a(href="") amet
