/* ==========================================================
 * forms.scss
 *
 * Basic styling for forms and inputs
 * DOCS:
 * ========================================================== */


/* =============================================================================
$ General styling of Input Fields
================================================================================ */
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  border: 1px solid $basicBorderColor;
  font-size: 14px;
  font-size: rs(14, $unit: rem);
  color: lighten( $baseTextColor, 5% );

  &:hover { border-color: darken($basicBorderColor, 20%); }
}
textarea {
  min-height: 70px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 4px;
}


.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  padding: 0.5em;

  border: 1px solid $cd-primary;
  background: $cd-primary;

  font-size: .8em;
  line-height: 1;
  color: #FFF;
}


/* =============================================================================
$ General styling of Form Fields
================================================================================ */
label {
  display: block;
  font-size: 14px;
  font-size: rs(14, $unit: rem);
}
form {
  ol, ul { @extend %reset-list; }
}


/* =============================================================================
$ Searchforms
================================================================================ */
/*form*/.searchform {
  label { }
  input {
    float: left;
    display: block;
  }
  input[type="search"] { }
  input[type="submit"] { }
}
