/* ==========================================================
 * tables.scss
 *
 * Basic styling for tables
 * DOCS:
 * ========================================================== */


/* =============================================================================
$ Tables
================================================================================ */
table {
  width: 100%;
  margin: 0 0 ($baseLineHeight/$baseFontSize) + em;
  caption { text-align: $start; }
}
th { text-align: $start; }
th, td { vertical-align: top; }



/* =============================================================================
$ Contenttable-1 (Bordered Table w/ odd & even)
================================================================================ */
/*table*/.contenttable-1 {
  border: 1px solid $basicBorderColor;
  border-collapse: separate;
  td, th {
    border-left: 1px solid $basicBorderColor;
    border-bottom: 1px solid $basicBorderColor;
    padding: 0.5em;
  }

  /*tr*/.tr-even { background: $contentBackground; }
  /*tr*/.tr-odd { background: color-adjust($contentBackground, 5%) }
  /*tr*/.tr-last td { border-bottom: 0; }
  /*td*/.td-0 { border-left: 0; }
}


/* =============================================================================
$ Contenttable-2 (Clean Table)
================================================================================ */
/*table*/.contenttable-2 {
  td, th { border-bottom: 1px solid $basicBorderColor; }
  th { padding: 0 0.5em 0.5em; }
  td { padding: 0.5em; }
}


/* =============================================================================
$ Contenttable-3 (Clean Table (condensed))
================================================================================ */
/*table*/.contenttable-3 {
  td, th {
    border-bottom: 1px solid $basicBorderColor;
    padding: 0.25em 0.5em 0.25em;
  }
  th { padding-top: 0; }
}
