/* ==========================================================
 * tables.scss
 *
 * Basic styling for tables
 * DOCS:
 * ========================================================== */


/* =============================================================================
$ Tables
================================================================================ */
table {
  width: 100%;
  margin: 0 0 ($baseLineHeight/$baseFontSize) + em;
  caption { text-align: left; }
}
th {
  padding: 7px 8px 3px;
  text-align: left;
}
td { padding: 9px 8px 7px; }



/* =============================================================================
$ Contenttable-1 (Bordered Table w/ odd & even)
================================================================================ */
/*table*/.contenttable-1 {
  border: 1px solid $basicBorderColor;
  border-collapse: separate;
  td, th {
    border-left: 1px solid $basicBorderColor;
    border-bottom: 1px solid $basicBorderColor;
  }
  /*tr*/.tr-even { background: $contentBackground; }
  /*tr*/.tr-odd { background: darken($contentBackground, 10%); }
  /*tr*/.tr-last td { border-bottom: 0; }
  /*td*/.td-0 { border-left: 0; }
}


/* =============================================================================
$ Contenttable-2 (Clean Table)
================================================================================ */
/*table*/.contenttable-2 {
  td, th { border-bottom: 1px solid $basicBorderColor; }
}


/* =============================================================================
$ Contenttable-3 (Clean Table (condensed))
================================================================================ */
/*table*/.contenttable-3 {
  td, th { border-bottom: 1px solid $basicBorderColor; }
  th { padding: 5px 8px 2px; }
  td { padding: 5px 8px 3px; }
}
