/* ==========================================================
 * typography.scss
 *
 * Basic styling for typography elements
 * DOCS:
 * ========================================================== */


/* =============================================================================
$ Links and other stuff
================================================================================ */
a {
  color: $linkColor;
  text-decoration: none;
}
a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: $linkColorHover;
  }
}

::-moz-selection,
::selection {
  background: $cd-primary;
  color: #fff;
  text-shadow: none;
}


/* =============================================================================
$ Headings
================================================================================ */
#{headings(all)} {
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  color: $headingsColor;
  text-rendering: optimizeLegibility; // Optimized kerning for large font sizes
  small {
    font-size: 75%;
    color: lighten($headingsColor, 20%);
    line-height: 0;
  }
}
h1, .h1 {
  @include font-size(36);
  margin: 0 0 rs(21, 36);
}
h2, .h2 {
  @include font-size(30);
  margin: 0 0 rs(18, 30);
}
h3, .h3 {
  @include font-size(24);
  margin: 0 0 rs(16, 24);
}
h4, .h4 {
  @include font-size(20);
  margin: 0 0 rs(16, 20);
}
h5, .h5 {
  @include font-size(16);
  margin: 0;
}
h6, .h6 {
  @include font-size(14);
  margin: 0;
}


/* =============================================================================
$ Margins
================================================================================ */
p,
ol,
ul,
dl,
figure,
menu { margin: 0 0 $basicSpacing +em; }


/* =============================================================================
$ Attachements, Images & Links
  Contents: 1: Make Images & Attachements responsive
            2: Styling the alt="" Text on images ( http://csswizardry.com/2011/06/styling-alt-text-on-images/ )
            3: Decrease font-size on figcaption elements
            4: Increasing the Clickable Area of Inline Links ( http://joshnh.com/2012/09/06/increasing-the-clickable-area-of-inline-links/ )
================================================================================ */
embed, iframe, object, img { /* 1 */
  max-width: 100%;
  height: auto;
}

figure > img {
  display: block;
}
figcaption {
  font-size: ($baseFontSize - 2) +px;
  font-size: rs( ($baseFontSize - 2), $unit: rem);
}
img { /* 2 */
  font-style: italic;
}

p a { /* 4 */ // TODO: Cross-Browser testing
  margin: -.33em;
  padding: .33em;
  position: relative;
}


/* =============================================================================
$ Lists
  Contents: 1: Remove vertical spacing from nested lists
================================================================================ */
li > ul,
li > ol {  /* 1 */
  margin-bottom:0;
}


/* =============================================================================
$ HTML-Elements
================================================================================ */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px $basicBorderStyle $basicBorderColor;
  margin: $basicSpacing +em 0 $basicSpacing +em;
  padding: 0;
}
